<div class="sdc-dropdown">
    <label class="sdc-dropdown__label" *ngIf="label" [ngClass]="{'required':required}">{{label}}</label>
    <select class="sdc-dropdown__select" name='{{label}}' [(ngModel)]="value" (change)="onSave()" [disabled]="disabled" [ngClass]="{'disabled':disabled}">
        <option [ngValue]="undefined" hidden selected disabled>{{placeHolder}}</option>
        <option *ngFor="let option of options" [ngValue]="option.label != undefined ? option.value : option">
            {{option.label||option}}
        </option>
    </select>
</div>
