.sdc-table-filter {
    border: 1px solid #666;
    background-color: white;
    padding: 10px;
    margin-bottom: 5px;
    width: 60%;
}

.sdc-table-filter-group {
    border: 1px solid #666;
    padding: 10px;
    margin-bottom: 5px;
    background-color: white;
}

.sdc-table-filter-form {
    display: block;
}

.sdc-table-filter-form-group {
    display: flex;
    width: 240px;
    margin: 10px;
    /*padding-top: 20px;*/
}
.sdc-table-filter-label, .sdc-table-filter-input  {
    width: 150px;
    flex-grow: 0;
    flex-shrink: 0;
}
.sdc-table-filter-span {
    padding-right: 5px;
}
.sdc-table-filter-separator {
    padding-left: 15px;
}
.sdc-table-filter-button {
    padding: 5px 5px;
}
