<sdc-table-simple-filter [headerCols]=headerCols field="name"></sdc-table-simple-filter>
<sdc-table-range-filter [headerCols]=headerCols field="companyId"></sdc-table-range-filter>
<sdc-table-simple-filter [headerCols]=headerCols field="usersCount"></sdc-table-simple-filter>
<sdc-table-range-filter [headerCols]=headerCols field="formattedCreationDate"></sdc-table-range-filter>
<div style="padding-top:10px; padding-bottom: 20px;">
    <button type="button" class="sdc-table-filter-button" (click)="runFilter()">Run</button>
    <button type="button" class="sdc-table-filter-button" (click)="clearFilter()">Clear</button>
</div>
