.sdc-input {
  marigin:5px;


  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $dark-gray;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $dark-gray;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $dark-gray;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $dark-gray;
  }
  input:disabled {
    background: $background-gray;
  }
  .sdc-input__label {
    margin-bottom: 5px;
    display: block;
    @extend .body-3-semibold;
    color: $black;

    &.required::before {
      content: '*';
      color: $red;
      margin: 0 4px 0 0;
    }
  }

  .sdc-label__error{
    color: $red;
    margin-top: 8px;
    font-size: 11px;
    margin-bottom: 10px;
  }
  .sdc-input__input {
    text-indent: 6px;
    height: 38px;
    border: solid 1px $light-gray;
    border-radius:2px;
    &.error {
      border: solid 1px $red;
      color: $red;
      outline: none;

    }

  }



}



.hint::-webkit-input-placeholder {
  font-style: italic;
}
