.sdc-input {

  padding-bottom: 20px;

  .sdc-input__label {
    margin-bottom: 5px;
    display: block;
    @extend .body-3;

    &.required::before {
      content: '*';
      color: $red;
      margin: 0 4px 0 0;
    }
  }

  .sdc-input__input {
    text-indent: 6px;
    border: solid 1px $light-gray;
    height: 38px;
    background-color: $white;
    color: $dark-gray;
    &.disabled{
      color:$gray;
      background-color: $background-gray;
    }
    &.error {
      border: solid 1px $red;
      color: $red;
      outline: none;

    }
  }

}
