.sdc-input {

  padding-bottom: 20px;

  .sdc-input__label {
    margin-bottom: 5px;
    display: block;
    @extend .body-3;

    &.required::before {
      content: '*';
      color: $red;
      margin: 0 4px 0 0;
    }
  }

  .sdc-input__input {
    text-indent: 6px;
    border: solid 1px $light-gray;
    border-radius:2px;
    &.error {
      border: solid 1px $red;
      color: $red;
      outline: none;

    }
  }

  .sdc-label__error{
    color: $red;
    margin-top: 8px;
    font-size: 11px;
  }

}

.hint::-webkit-input-placeholder {
  font-style: italic;
}
