.sdc-input {
  padding-bottom: 10px;

  .sdc-input__label {
    margin-bottom: 5px;
    display: block;
    @extend .body-3-semibold;

    &.required::before {
      content: '*';
      color: $red;
      margin: 0 4px 0 0;
    }
  }

  .sdc-input__input {
    text-indent: 6px;
    height: 38px;
    width: 100%;//415px;
    border: solid 1px $light-gray;
    border-radius:2px;
    color: $dark-gray;

    &.error, &.error:focus, &.error:disabled  {
      border: solid 1px $red;
      color: $red;
      outline: none;
    }

    &:read-only{
      border: solid 1px $white;
      outline: none;
      color: $text-black
    }
    &:-moz-read-only { /* For Firefox */
      border: solid 1px $white;
      outline: none;
      color: $text-black
    }

    &:read-only:focus{
      border-color: $white;
    }
    &:-moz-read-only:focus { /* For Firefox */
      border-color: $white;
      color: $text-black
    }
    &:focus {
      border-color: $blue;
      outline: 0 none;
      color: $text-black;
    }
    &[type="file"] {
      display: none;
    }

    &:disabled {
      background: $background-gray;
      color: $gray;
    }

    &::-webkit-input-placeholder /* Chrome/Opera/Safari */  {
      color: $gray;
      font-style: italic;
    }
    &::-moz-placeholder  /* Firefox 19+ */  {
      color: $gray;
      font-style: italic;
    }
    &:-moz-placeholder  /* Firefox 18- */  {
      color: $gray;
      font-style: italic;
    }
    &:-ms-input-placeholder  /* IE 10+ */
    {
      color: $gray;
      font-style: italic;
    }
  }

  .sdc-label__error{
    margin-top: 8px;
    @extend .body-3;
  }

}