<div class="sdc-input">
    <label class="sdc-input__label" for="file">I am a label</label>
    <input name="file" id="file" class="sdc-input__input" type="file" onChange="
        if (this.files[0]) {
        	document.getElementById('file_example').value = this.files[0].name;
        } else {
        	 document.getElementById('file_example').value = 'No file chosen';
        }
    "/>
    <div class="sdc-input-file">
        <input id="file_example" readOnly type="text" class="sdc-input__input filename"/>
        <label class="sdc-button load" for="file">...</label>
    </div>
</div>