.sdc-button {
  outline: none;
  border-radius: 2px;
  border: solid 1px;

  width: 94px;
  height: 30px;
  cursor: pointer;
  text-align: center;

  @include base-font-semibold();
  font-size: $body-font-1;

  &:disabled {
    opacity: 0.3;
    cursor: default;
  }


  // Default type
  &.sdc-button-default {

    color: $white;

    // Primary default button
    &.sdc-button__primary {
      border-color: $pacific-blue;
      background-color: $blue;

      &:hover, &:focus {
        background-color: $dodger-blue;

        &:active {
          border-color: $orient;
          background-color: $pacific-blue;
        }
      }

      &:disabled {
        background-color: $blue;
      }
    }

    // White default button
    &.sdc-button__white {
      color: $dark-gray;
      border-color: $light-gray;
      background-color: $white;

      &:hover, &:focus {
        border-color: $gray;

        &:active {
          border-color: $dark-gray;
          background-color: $background-gray;
        }
      }

      &:disabled {
        border-color: $light-gray;
      }
    }

    // Gray default button
    &.sdc-button__gray {
      color: $text-black;
      border-color: $light-gray;
      background-color: $tlv-gray;

      &:hover, &:focus {
        border-color: $gray;

        &:active {
          border-color: $dark-gray;
          background-color: $light-gray;
        }
      }

      &:disabled {
        border-color: $light-gray;
      }
    }

    // Positive default button
    &.sdc-button__positive {
      border-color: $limeade;
      background-color: $green;

      &:hover, &:focus {
        background-color: $lima;

        &:active {
          border-color: $japanese-laurel;
          background-color: $limeade;
        }
      }

      &:disabled {
        background-color: $green;
      }
    }

    // Negative default button
    &.sdc-button__negative {
      border-color: $tamarillo;
      background-color: $red;

      &:hover, &:focus {
        background-color: $torch-red;

        &:active {
          background-color: $tamarillo;
          border-color: $red-oxide;
        }
      }

      &:disabled {
        background-color: $red;
      }
    }

    // Warning default button
    &.sdc-button__warning {
      background-color: $yellow;
      border-color: $buttercup;

      &:hover, &:focus {
        background-color: $gold;

        &:active {
          background-color: $buttercup;
          border-color: $pirate-gold;
        }
      }

      &:disabled {
        background-color: $yellow;
      }
    }
  }


  // Outline type
  &.sdc-button-outline {

    // Primary outline button
    &.sdc-button__primary {
      color: $blue;
      background-color: rgba($blue, 0);
      border-color: $blue;

      &:hover, &:focus {
        background-color: rgba($blue, 0.1);

        &:active {
          background-color: rgba($blue, 0.3);
        }
      }

      &:disabled {
        background-color: transparent;
      }
    }

    // Gray outline button
    &.sdc-button__gray {
      color: $dark-gray;
      background-color: rgba($gray, 0);
      border-color: $gray;

      &:hover, &:focus {
        background-color: rgba($gray, 0.1);

        &:active {
          background-color: rgba($gray, 0.3);
        }
      }

      &:disabled {
        background-color: transparent;
      }
    }

    // Positive outline button
    &.sdc-button__positive {
      color: $green;
      background-color: rgba($green, 0);
      border-color: $green;

      &:hover, &:focus {
        background-color: rgba($green, 0.1);

        &:active {
          background-color: rgba($green, 0.3);
        }
      }

      &:disabled {
        background-color: transparent;
      }
    }

    // Negative outline button
    &.sdc-button__negative {
      color: $red;
      background-color: rgba($red, 0);
      border-color: $red;

      &:hover, &:focus {
        background-color: rgba($red, 0.1);

        &:active {
          background-color: rgba($red, 0.3);
        }
      }

      &:disabled {
        background-color: transparent;
      }
    }

  }
  // Outline-rounded type
  &.sdc-button-outline-rounded {
    border-radius: 30px;
    // Primary outline button
    &.sdc-button__primary {
      color: $blue;
      background-color: rgba($blue, 0);
      border-color: $blue;
      &:hover, &:focus {
        background-color: rgba($blue, 0.1);

        &:active {
          background-color: rgba($blue, 0.3);
        }
      }

      &:disabled {
        background-color: transparent;
      }
    }

    // Gray outline button
    &.sdc-button__gray {
      color: $dark-gray;
      background-color: rgba($gray, 0);
      border-color: $gray;

      &:hover, &:focus {
        background-color: rgba($gray, 0.1);

        &:active {
          background-color: rgba($gray, 0.3);
        }
      }

      &:disabled {
        background-color: transparent;
      }
    }

    // Positive outline button
    &.sdc-button__positive {
      color: $green;
      background-color: rgba($green, 0);
      border-color: $green;

      &:hover, &:focus {
        background-color: rgba($green, 0.1);

        &:active {
          background-color: rgba($green, 0.3);
        }
      }

      &:disabled {
        background-color: transparent;
      }
    }

    // Negative outline button
    &.sdc-button__negative {
      color: $red;
      background-color: rgba($red, 0);
      border-color: $red;

      &:hover, &:focus {
        background-color: rgba($red, 0.1);

        &:active {
          background-color: rgba($red, 0.3);
        }
      }

      &:disabled {
        background-color: transparent;
      }
    }

  }
}
