.sdc-button {
  @include box-sizing;
  display: inline-block;

  outline: none;
  border-radius: 2px;
  padding: 0 12px;

  height: 36px;
  width: 120px;
  min-width: 90px;

  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  @include body-1;
  &:disabled {
    cursor: default;
  }

  // Primary button
  &.sdc-button__primary {
    border: none;
    background-color: $blue;
    color: $white;

    &:not(:disabled) {
      &:hover, &:active {
        background-color: $hover-blue;
        @include font-hover;
      }
      &:focus:not(:active) {
        border: 0.5px solid $white;
        background-color: $hover-blue;
        box-shadow: 0px 0px 0px 1px $hover-blue;
        @include font-focus;
      }
    }

    &:disabled{
      background: $blue-disabled;
    }
  }

  // Secondary button
  &.sdc-button__secondary {
    border: 1px solid $blue;
    background-color: transparent;
    color: $blue;

    &:not(:disabled) {
      &:hover, &:active {
        color: $hover-blue;
        border-color: $hover-blue;
        @include font-hover;
      }
      &:focus:not(:active) {
        color: $hover-blue;
        box-shadow: inset 0px 0px 0px 0px $link-blue, 0px 0px 0px 1px $blue;
        @include font-focus;
      }
    }

    &:disabled {
      color: $blue-disabled;
      border-color: $blue-disabled;
    }
  }

  // Link button
  &.sdc-button__link {
    background-color: transparent;
    color: $blue;
    fill: $blue;
    border: none;

    &:not(:disabled) {
      &:hover, &:active {
        color: $hover-blue;
        @include font-hover;
      }
      &:focus:not(:active) {
        border: 1px solid $link-blue;
        color: $hover-blue;
        @include font-focus;
      }
    }

    &:disabled{
      color: $blue-disabled;
    }
  }

  /*** Sizes ***/
  &.btn-large{
    width: $btn-large;
  }

  &.btn-medium{
    width: $btn-medium;
  }

  &.btn-small{
    width: $btn-small;
  }

  &.btn-x-small{
    width: $btn-extra-small;
  }

  &.btn-default{
    width: $btn-default;
  }

  /*** Buttons with icons ***/
  .sdc-icon-right{
    margin-left: 15px;
  }

  .sdc-icon-left{
    margin-right: 15px;
  }

  svg {
    display: inline-block;
    vertical-align: middle;
  }
}


