.sdc-button {
  border-radius: 2px;
  border: solid 1px;
  cursor: pointer;
  box-sizing: border-box;
  width: 94px;
  height: 30px;
  font-family: sans-serif; // OpenSans
  font-size: 14px;
  font-weight: 600;
  color: $white;
  text-align: center;

  &:disabled {
    opacity: 0.3;
  }
  
  // todo: add 'style' and 'type' subgroups

  // Commented colors are colors specified in buttons_SG.psd that do not exist in variables.scss. Closest matching color used

  // Primary button
  &.sdc-button__primary {
    background-color: $blue;
    border-color: $blue; // #0091c8

    &:hover {
      background-color: $light-blue; // #1ec2ff
    }

    &:active {
      background-color: $blue; // #0091c7
      border-color: $dark-blue; // #006186
    }
  }

  // White button
  &.sdc-button__white {
    color: $dark-gray;
    background-color: $white;
    border-color: $light-gray; // #d8d8d8

    &:hover {
      border-color: $gray;
    }

    &:active {
      background-color: $background-gray;
      border-color: $dark-gray; // #595959
    }

    &:disabled {
      color: $dark-gray;
      opacity: 1;
    }
  }

  &.sdc-button__gray {
    color: $text-black;
    background-color: $tlv-gray;
    border-color: $light-gray; // #d8d8d8

    &:hover {
      border-color: $gray;
    }

    &:active {
      background-color: $light-gray; // #d7d7d7
      border-color: $dark-gray; // #595959
    }

    &:disabled {
      color: #333;
      background-color: $white;
      opacity: 0.3;
    }
  }

  &.sdc-button__positive {
    background-color: $green;
    border-color: $green; // #45a006

    &:hover {
      background-color: $functional-green; // #5ec616
    }

    &:active {
      background-color: $green; // #3f9c0a
      border-color: $dark-green; // #2c6604
    }
  }

  &.sdc-button__negative {
    background-color: $red;
    border-color: $crimson; // #b30a3c

    &:hover {
      background-color: #fc1b1b;
    }

    &:active {
      border-color: #730202;
      background-color: #a01a1a;
    }
  }

  &.sdc-button__warning {
    background-color: $yellow;
    border-color: #f4ac0d;

    &:hover {
      background-color: #ffd200;
    }

    &:active {
      background-color: #ebaa14;
      border-color: #c08502;
    }
  }

}