@mixin default-button($primary, $hover, $active, $active-border, $border: $active, $hover-border: $border, $text: $white) {
  color: $text;
  border-color: $border;
  background-color: $primary;

  &:not([disabled]) {
    &:hover, &:focus {
      border-color: $hover-border;
      background-color: $hover;
    }
    &:active {
      border-color: $active-border;
      background-color: $active;
    }
  }
}

@mixin outline-button($color) {
  background-color: transparent;
  color: $color;
  border-color: $color;

  &:not([disabled]) {
    &:hover, &:focus { background-color: rgba($color, 0.1); }
    &:active { background-color: rgba($color, 0.3); }
  }
}

@mixin link-button($primary-color, $secondary-color) {
  color: $primary-color;
  fill: $primary-color;

  &:not([disabled]):hover, &:active, &:focus {
    color: $secondary-color;
    fill: $secondary-color;
  }
}

.sdc-button {
  outline: none;
  border-radius: 2px;
  border: solid 1px;

  cursor: pointer;
  text-align: center;

  @extend .body-1-semibold;

  &:not(.sdc-button-link) {
    width: 94px;
    height: 30px;
  }

  &:disabled {
    opacity: 0.3;
    cursor: default;
  }

  // Default type
  &.sdc-button-default {

    // Primary default button
    &.sdc-button__primary {
      $primary:       $blue;
      $hover:         $dodger-blue;
      $active:        $pacific-blue;
      $active-border: $orient;
      @include default-button($primary, $hover, $active, $active-border);
    }

    // White default button
    &.sdc-button__white {
      $primary:       $white;
      $border:        $light-gray;
      $hover:         $primary;
      $hover-border:  $gray;
      $active:        $background-gray;
      $active-border: $dark-gray;
      $text:          $dark-gray;
      @include default-button($primary, $hover, $active, $active-border, $border, $hover-border, $text);
    }

    // Gray default button
    &.sdc-button__gray {
      $primary:       $tlv-gray;
      $border:        $light-gray;
      $hover:         $primary;
      $hover-border:  $gray;
      $active:        $border;
      $active-border: $dark-gray;
      $text:          $text-black;
      @include default-button($primary, $hover, $active, $active-border, $border, $hover-border, $text);
    }

    // Positive default button
    &.sdc-button__positive {
      $primary:       $green;
      $hover:         $lima;
      $active:        $limeade;
      $active-border: $japanese-laurel;
      @include default-button($primary, $hover, $active, $active-border);
    }

    // Negative default button
    &.sdc-button__negative {
      $primary:       $red;
      $hover:         $torch-red;
      $active:        $red-oxide;
      $active-border: $tamarillo;
      @include default-button($primary, $hover, $active, $active-border);
    }

    // Warning default button
    &.sdc-button__warning {
      $primary:       $yellow;
      $hover:         $gold;
      $active:        $buttercup;
      $active-border: $pirate-gold;
      @include default-button($primary, $hover, $active, $active-border);
    }

  } // End default type

  // Outline rounded type
  &.sdc-button-outline-rounded {
    border-radius: 30px;
  }

  // Outline types
  &.sdc-button-outline, &.sdc-button-outline-rounded {

    // Primary outline button
    &.sdc-button__primary {
      @include outline-button($blue);
    }

    // Dark gray outline button
    &.sdc-button__dark-gray {
      @include outline-button($dark-gray);
    }

    // Gray outline button
    &.sdc-button__gray {
      @include outline-button($gray);
    }

    // Positive outline button
    &.sdc-button__positive {
      @include outline-button($green);
    }

    // Negative outline button
    &.sdc-button__negative {
      @include outline-button($red);
    }

    // Warning outline button
    &.sdc-button__warning {
      @include outline-button($yellow);
    }

  } // End of outline type

  // Link type
  &.sdc-button-link {
    border: none;
    background-color: transparent;
    @extend .body-1;

    // Primary link button
    &.sdc-button__primary {
      @include link-button($blue, $dark-blue);
    }

    // Secondary link button
    &.sdc-button__secondary {
      @include link-button($gray, $dark-gray);
    }

  } // End of link type
}
