<div class="search-with-autocomplete-container">
    <sdc-search-bar [placeholder]="placeholder" [label]="label" [searchQuery]="searchQuery" (searchButtonClicked)="updateSearch($event)" (searchChanged)="searchChange($event)"></sdc-search-bar>
    <div class="autocomplete-results" [@displayResultsAnimation]="(autoCompleteValues && autoCompleteValues.length)?'true':'false'">
        <div *ngFor="let item of autoCompleteValues" class="autocomplete-result-item" (click)="updateSearch(item)">{{item}}</div>
    </div>
</div>
