.sdc-table-container{
  //box-sizing: border-box;
  //border-right:1px solid $light-gray;
  //border-bottom: 1px solid $light-gray;
  padding: 3px;

  .sdc-table-cell {
    padding: 3px;
    min-width: 50px;
  }


  .sdc-table-header {
    background-color: $light-gray;
    display:flex;
    flex-direction: row;
  }
  .sdc-table-body{
    width:100%;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    overflow: scroll;
  }

  .sdc-table-row {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    border-bottom: 1px solid $light-gray;

    .sdc-table-cell {
      text-align: center;
      border-right: 1px solid $light-gray;
    }

  }
  //.sdc-table-row :last-child {
  //  border-right: none;
  //}
  //
  .sdc-table-row :first-child{
    border-left: 1px solid $light-gray;
  }
  .sdc-table_tr_fixed {
    flex-grow: 0;
    flex-shrink: 0;
  }
  .sdc-table_fixed_grow {
    flex:1;
  }

  .icon{

  }

  .icon-unsorted{
    background: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDM2LjY3OCAzNi42NzgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDM2LjY3OCAzNi42Nzg7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8cGF0aCBkPSJNMjkuNjk2LDIwLjA3NmMwLjA4OCwwLjE2LDAuMDgsMC4zNTQtMC4wMjEsMC41MUwxOS4zOTUsMzYuNDQ5Yy0wLjA5MSwwLjEzOS0wLjI0MSwwLjIyNC0wLjQwNywwLjIyOSAgIGMtMC4wMDQsMC0wLjAwOCwwLTAuMDE1LDBjLTAuMTU3LDAtMC4zMS0wLjA3Ni0wLjQwMy0wLjIwNUw2Ljk5OCwyMC42MDljLTAuMTEtMC4xNS0wLjEyNy0wLjM1NC0wLjA0MS0wLjUyMSAgIGMwLjA4NS0wLjE2OCwwLjI1Ny0wLjI3MiwwLjQ0NC0wLjI3MmgyMS44NTVDMjkuNDQzLDE5LjgxNCwyOS42MDksMTkuOTE0LDI5LjY5NiwyMC4wNzZ6IE03LjQwMSwxNi44NjVoMjEuODU1ICAgYzAuMDA4LDAsMC4wMTcsMCwwLjAyMSwwYzAuMjc1LDAsMC41LTAuMjI1LDAuNS0wLjVjMC0wLjE1Ni0wLjA3LTAuMjk1LTAuMTg0LTAuMzg4TDE4LjA4NiwwLjIwNSAgIEMxNy45ODksMC4wNzIsMTcuODIxLDAuMDAyLDE3LjY2OCwwYy0wLjE2NSwwLjAwNS0wLjMxNSwwLjA5LTAuNDA2LDAuMjI5TDYuOTgyLDE2LjA5NGMtMC4xMDEsMC4xNTItMC4xMDUsMC4zNS0wLjAyMSwwLjUxMiAgIEM3LjA1LDE2Ljc2NSw3LjIxOCwxNi44NjUsNy40MDEsMTYuODY1eiIgZmlsbD0iIzAwMDAwMCIvPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=)
            no-repeat
            left center;
    padding: 5px 0 5px 25px;
  }

  .icon-sort-desc{
    background:
            url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDMyLjAyIDMyLjAyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzMi4wMiAzMi4wMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8Zz4KCTxwYXRoIGQ9Ik0zMi4wMiwyNy4yNmMwLDAuMjc0LTAuMjI1LDAuNS0wLjUsMC41Yy0wLjAwNCwwLjAwMS0wLjAxMiwwLTAuMDIxLDBoLTMxYy0wLjE4NSwwLTAuMzUzLTAuMTAzLTAuNDM4LTAuMjYxICAgYy0wLjA4OC0wLjE2MS0wLjA4LTAuMzU3LDAuMDItMC41MTJMMTQuNjY1LDQuNDg4YzAuMDktMC4xNCwwLjI0MS0wLjIyNSwwLjQwNi0wLjIyOWMwLjE3Mi0wLjAwMSwwLjMyLDAuMDcxLDAuNDE4LDAuMjA1ICAgTDMxLjgzOCwyNi44N0MzMS45NDgsMjYuOTY1LDMyLjAyLDI3LjEwNCwzMi4wMiwyNy4yNnoiIGZpbGw9IiMwMDAwMDAiLz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8L3N2Zz4K)
            no-repeat
            left center;
    padding: 5px 0 5px 25px;
  }

  .icon-sort-asc{
    background:
            url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMzEuOTk5IDMyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzMS45OTkgMzI7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48cGF0aCBkPSJNMzEuOTIsNS4wMjFsLTE0LjU4NCwyMi41Yy0wLjA4OSwwLjEzOS0wLjI0MSwwLjIyMy0wLjQwNiwwLjIyOWMtMC4wMDQsMC0wLjAwOSwwLTAuMDE0LDBjLTAuMTYsMC0wLjMxMS0wLjA3Ni0wLjQwNC0wLjIwNUwwLjA5Niw1LjA0NEMtMC4wMTUsNC44OTMtMC4wMzEsNC42OSwwLjA1NCw0LjUyM1MwLjMxMiw0LjI1LDAuNSw0LjI1aDMxYzAuMTgzLDAsMC4zNTIsMC4xMDEsMC40MzgsMC4yNjFDMzIuMDI1LDQuNjcsMzIuMDE5LDQuODY4LDMxLjkyLDUuMDIxeiIvPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48L3N2Zz4=)
            no-repeat
            left center;
    padding: 5px 0 5px 25px;
  }
}
