.sdc-radio-group {
  .sdc-radio-group__radios {
	display: flex;
  }
  .sdc-radio-group__legend {
	@extend .body-2-semibold;
	display: inline-block;
	margin-bottom: 5px;
  }
  .sdc-radio__label {
	@extend .body-1;
	margin-right: 20px;
  }
  .vertical{
    flex-direction: column;
    .sdc-radio{
      margin-bottom: 15px;
    }
  }
}
