.sdc-tile {
	$tile-full-width: 204px;
	$tile-full-height: 200px;
	$tile-padding: 11px;

	$tile-width-less-padding: $tile-full-width - ($tile-padding * 2);
	$tile-height-less-padding: $tile-full-height - ($tile-padding * 2);

	$header-height: 10px;
	$footer-height: 23px;
	$content-height: 100%;

	width: $tile-full-width;
	height: $tile-full-height;

	padding: $tile-padding;
	border: 1px solid $tlv-light-gray;
	@include border-radius(2px);
	@include box-sizing;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: relative;
	cursor: pointer;
	user-select: none;

	background: $white;
	color: $text-black;
	fill: $dark-gray;
	@extend .body-3;
	@include box-shadow(0 1px 4px 0 rgba($text-black, 0.06));

	&:hover {
		border-color: $light-gray;
		@include box-shadow(0.3px 5px 12.8px 2.3px rgba($text-black, 0.25));
	}

	.blue {
		color: $blue;
		fill: $light-blue;
	}

	.purple {
		color: $purple;
		fill: $purple;
	}

	.centered {
		&.sdc-tile-footer {
			text-align: center;
		}
		.sdc-tile-info-line {
			justify-content: center;
		}
	}

	.sdc-tile-header {
		height: $body-font-1;
		line-height: $header-height;
		@include ellipsis($display: block);

		font-size: $body-font-1;
		@extend .text-uppercase;
	}

	.sdc-tile-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: $content-height;
		margin-bottom: -4px;

		.sdc-tile-content-icon {
			margin-top: 27px;
			text-align: center;

			svg {
				width: 50px;
				height: 50px;

				&.__vsp {
					width: 60px;
					height: 40px;
				}
				&.__vlm {
					width: 45px;
					height: 53px;
				}
				&.__vendor {
					width: 53px;
					height: 47px;
				}
			}
		}

		.sdc-tile-content-info {
			display: flex;
			flex-direction: column;

			.sdc-tile-info-line {
				@extend .text-capitalize;
				@include ellipsis($display: flex);
				align-items: center;

				button {
					height: 1.67em;
					width: initial;
					margin-bottom: 5px;
					padding: 0 8px;
					font-size: inherit;
				}
				&.supertitle {
					height: 1.2em;
					line-height: 1.2;
					color: $gray;
				}
				&.title {
					height: 1.8em;
					line-height: 1.8;
					color: $text-black;
					@extend .body-1-semibold;
				}
				&.subtitle {
					height: 1.6em;
					line-height: 1.6;
					color: $dark-gray;
				}
			}
		}
	}

	.sdc-tile-footer {
		width: $tile-width-less-padding;
		height: $footer-height;
		@include box-sizing;

		border-top: 1px solid $tlv-light-gray;
		margin-top: 7px;
		padding-top: 9px;

		color: $dark-gray;
		fill: $dark-gray;
		@extend .text-capitalize;

		display: flex;
		align-items: center;
		justify-content: space-between;

		.sdc-tile-footer-cell {
			&:first-child {
				@include ellipsis;
			}
			svg{
				width: 20px;
				height: 12px;
			}
			button {
				width: initial;
				height: initial;
				font-size: $body-font-3;

				.svg-icon-wrapper {
					.svg-icon-label {
						font-size: inherit;
					}
					svg {
						width: 9px;
						height: 9px;
					}
				}
			}
		}

	}
}
