@import "../button/button";


.sdc-tile {
	$tile-full-width: 180px;
	$tile-full-height: 180px;
	$tile-padding: 12px;
	$border-width: 1px;

	$tile-width-less-padding: $tile-full-width - ($tile-padding * 2) - ($border-width * 2);
	$tile-height-less-padding: $tile-full-height - ($tile-padding * 2);

	$footer-height: 23px;
	$content-height: 100%;

	width: $tile-full-width;
	height: $tile-full-height;

	padding: $tile-padding;
	border: $border-width solid $tlv-light-gray;
	@include border-radius(2px);
	@include box-sizing;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: relative;
	cursor: pointer;
	user-select: none;

	background: $white;
	color: $text-black;
	fill: $dark-gray;
	transition: box-shadow 0.3s ease-in-out;
	@extend .body-3;
	@include box-shadow(0 1px 1px 1px rgba($text-black, 0.06));

	&:hover {
		border-color: $light-gray;
		@include box-shadow( 0 10px 30px 0 rgba(0, 0, 0, 0.29));
	}

	.blue {
		color: $blue;
		fill: $light-blue;
	}

	.purple {
		color: $purple;
		fill: $purple;
	}

	.centered {
		&.sdc-tile-footer {
			text-align: center;
		}
		.sdc-tile-info-line {
			justify-content: center;
		}
	}

	.sdc-tile-header {
		height: $heading-font-5 + 2px;
		@include ellipsis($display: block);
		font-size: $heading-font-5;
		@extend .text-uppercase;
	}

	.sdc-tile-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: $content-height;

		.sdc-tile-content-icon {
			margin-top: 22px;
			text-align: center;

			svg {
				width: 50px;
				height: 50px;

				&.__vsp {
					width: 50px;
					height: 56px;
				}
				&.__vlm {
					width: 45px;
					height: 53px;
				}
				&.__vendor {
					width: 53px;
					height: 47px;
				}
			}
		}

		.sdc-tile-content-info {
			display: flex;
			flex-direction: column;

			.sdc-tile-info-line {
				@extend .text-capitalize;
				@include ellipsis($display: flex);
				align-items: center;

				button {
					height: 1.67em;
					width: initial;
					margin-bottom: 5px;
					padding: 0 8px;
					font-size: inherit;
				}

				&.supertitle {
					color: $dark-gray;
					font-size: $body-font-3;
					margin-bottom: 6px;
				}

				&.title {
					font-size: $body-font-2;
					color: $black;
					font-weight: 600;
					@extend .body-1-semibold;
					margin-bottom: 4px;
				}
				&.subtitle {
					color: $dark-gray;
				}
			}
		}
	}

	.sdc-tile-footer {
		width: $tile-width-less-padding;
		height: $footer-height;
		@include box-sizing;
		border-top: 1px solid $light-gray;
		font-size: $icon-font-size;

		color: $dark-gray;
		fill: $dark-gray;
		@extend .text-capitalize;

		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		.sdc-tile-footer-cell {

			svg{
				width: 20px;
				height: 12px;
			}
			button {
				width: initial;
				height: initial;
				font-size: $body-font-3;

				.svg-icon-wrapper {
					.svg-icon-label {
						font-size: inherit;
					}
					svg {
						width: 9px;
						height: 9px;
					}
				}
			}
		}

	}
}
