.sdc-tile, .sdc-tile-catalog {
	$tile-full-width: 204px;
	$tile-full-height: 200px;
	$tile-padding: 11px;

	$tile-width-less-padding: $tile-full-width - ($tile-padding * 2);
	$tile-height-less-padding: $tile-full-height - ($tile-padding * 2);

	$header-height: 10px;
	$footer-height: 31px;
	$content-height: $tile-height-less-padding - $header-height - ($footer-height - 11px);

	width: $tile-full-width;
	height: $tile-full-height;
	padding: $tile-padding;
	border: 1px solid $tlv-light-gray;
	border-radius: 2px;

	position: relative;
	@include box-sizing;

	cursor: pointer;
	user-select: none;

	background: $white;
	color: $text-black;
	fill: $dark-gray;
	@extend .body-3;
	@include box-shadow(0 1px 4px 0 rgba($text-black, 0.06));

	&:hover {
		border: 1px solid $light-gray;
		@include box-shadow(0.3px 5px 12.8px 2.3px rgba($text-black, 0.25));
	}

	.blue {
		color: $light-blue; //#00aeef;
		fill: $light-blue;
	}

	.purple {
		color: $purple;
		fill: $purple;
	}

	.centered {
		width: 100%;
		text-align: center;
	}

	.sdc-tile-header {
		font-size: $body-font-1;
		line-height: $header-height;
		height: $header-height;
		@extend .text-uppercase;
		@include ellipsis($display: block);
	}

	.sdc-tile-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: $content-height - 6px;

		.sdc-tile-content-icon {
			margin-top: 27px;

			svg {
				width: 50px;
				height: 50px;

				&.__vsp {
					width: 60px;
					height: 40px;
				}
				&.__vlm {
					width: 45px;
					height: 53px;
				}
				&.__vendor {
					width: 53px;
					height: 47px;
				}
			}
		}

		.sdc-tile-content-info {
			display: flex;
			flex-direction: column;

			.sdc-tile-info-line {
				line-height: 1.5;
				@extend .text-capitalize;
				@include ellipsis;

				&.supertitle {
					line-height: 1.2;
					color: $gray;
				}
				&.title {
					line-height: 1.8;
					color: $text-black;
					@extend .body-1-semibold;
				}
				&.subtitle {
					color: $dark-gray;
				}
				button {
					height: 1.67em;
					width: initial;
					margin-bottom: 5px;
					padding: 0 8px;
					font-size: inherit;
					&:disabled {
						opacity: 0.7;
						.sdc-button-label { opacity: 1; }
					}
				}
			}
		}
	}

	.sdc-tile-footer {
		@include box-sizing;
		width: $tile-width-less-padding;
		height: $footer-height;

		border-top: 1px solid $tlv-light-gray;
		padding-bottom: 2px;

		position: absolute;
		bottom: 0;
		display: flex;
		align-items: center;

		@extend .text-capitalize;
		color: $dark-gray;
		fill: $dark-gray;

		.sdc-tile-footer-content {
			width: 100%;
			display: flex;
			justify-content: space-between;

			span {
				display: flex;
			}
			.sdc-tile-footer-text {
				@include ellipsis;
			}
			svg {
				margin-left: 5px;
				height: 12px;
				width: 20px;
			}
		}

		.sdc-tile-button-footer {
			button {
				width: initial;
				height: initial;

				.sdc-button-label {
					font-size: $body-font-3;
				}
			}
		}

	}
}
