$sdc-tile-catalog-width: 204px;
$sdc-tile-catalog-height: 200px;
$sdc-tile-catalog-width-less-padding: $sdc-tile-catalog-width - 24px;
$sdc-tile-catalog-footer-icon-width: 16px;
$sdc-tile-catalog-footer-icon-height: 20px;
$sdc-tile-catalog-content-icon-width: 60px;
$sdc-tile-catalog-content-icon-height: 60px;

.sdc-tile, .sdc-tile-catalog {
  box-sizing: border-box;
  background-color: $white;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 5px 10px;
  cursor: pointer;
  border: 1px solid $tlv-light-gray;
  @include box-shadow(0.5px 0.8px 4px 0 rgba(24, 24, 25, 0.05));

  &:active {
	  border: 1px solid $light-blue;
  }

  &:hover {
    box-shadow: 0.3px 5px 12.8px 1.3px rgba(24, 24, 25, 0.15);
    border: 1px solid $light-gray;
  }

  .sdc-tile-header {
    position: relative;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .sdc-tile-content {
    position: relative;
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow: auto;
    justify-content: space-between;
  }

  .sdc-tile-footer {
    position: relative;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

}

.sdc-tile-catalog {
  width: $sdc-tile-catalog-width;
  height: $sdc-tile-catalog-height;

  .sdc-tile-header {
    .sdc-tile-header-type {
      font-size: $heading-font-5;
      text-transform: uppercase;
      &.purple {
        color: $purple;
      }
      &.blue {
        color: $blue;
      }
    }
  }

  .sdc-tile-content {

    .sdc-tile-content-icon {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-top: 20px;

      svg {
        width: $sdc-tile-catalog-content-icon-width;
        height: $sdc-tile-catalog-content-icon-height;
      }
    }

    .sdc-tile-content-info {
      padding-bottom: 4px;
      width: $sdc-tile-catalog-width-less-padding;	
      @include ellipsis(auto,inline-block,178px);

      &.vendor-tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      .sdc-tile-content-info-vendor-name {
        @extend .body-3-medium;
        color: $gray;
        line-height: 12px;			
      }

      .sdc-tile-content-info-item-name {
        @extend .heading-5-medium;			
        color: $black;
      }

      .sdc-tile-content-info-version-info{
          display: flex;
          justify-content: space-between;
          .sdc-tile-content-info-version-info-text {
            @extend .body-2;
          }
      }
      .vendor-count-button {
        width: initial;
        min-width: 71px;
        height: 20px;
        font-size: $icon-font-size;
        margin-bottom: 10px;
        margin-top: 5px;
      }
    }
  }

  .sdc-tile-footer {
    display: flex;
    flex-direction: row;
    border-top: 1px solid $background-gray;
    padding: 5px 0 0px 0;    
    width: $sdc-tile-catalog-width-less-padding;

    .sdc-tile-footer-text {
        flex: 1;
        @extend .body-2;
        @include ellipsis(auto,inline-block,($sdc-tile-catalog-width-less-padding - $sdc-tile-catalog-footer-icon-width));
    }

    .sdc-tile-footer-icon {
        flex-shrink: 1;
        overflow: hidden;

        svg {
          width: $sdc-tile-catalog-footer-icon-width;
          height: $sdc-tile-catalog-footer-icon-height;
          fill: $gray;
        }
    }
        
  }

  .sdc-vendor-tile-footer {
    display: flex;
    flex-direction: row;
    border-top: 1px solid $background-gray;
    padding: 5px 0 0px 0;    
    width: $sdc-tile-catalog-width-less-padding;
    justify-content: center;

    .sdc-vendor-tile-footer-icon {
        margin-top: 5px;
        margin-bottom: 5px;
        flex-shrink: 1;
        overflow: hidden;
        font-size: $icon-font-size;
        svg {
          width: 10px;
          height: 10px;
          fill: $blue;
        }
    }
  }  
  
}
