<div class='sdc-tile-showcase-tiles'>
    <div class="sdc-tile-catalog sdc-tile-fix-width" data-code-id='catalog-sample'>
        <div class="sdc-tile-header">
            <div class='sdc-tile-header-type blue'>
                vsp
            </div>
        </div>
        <div class='sdc-tile-content'>
            <div class='sdc-tile-content-icon'>
                <svg class="svg-icon blue">
                    <use href="./gen/assests/icons/vsp.svg#vsp_icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assests/icons/vsp.svg#vsp_icon"></use>
                </svg>
            </div>
            <div class='sdc-tile-content-info'>
                <div class="sdc-tile-content-info-vendor-name">vlm</div>
                <div class="sdc-tile-content-info-item-name">lilach vsp</div>
                <div class="sdc-tile-content-info-version-info">
                    <div class="sdc-tile-content-info-version-info-text" data-test-id="sdc-catalog-item-version">V 0.1</div>
                </div>
            </div>
        </div>
        <div class='sdc-tile-footer'>
            <div class='sdc-tile-footer-text'>
                Footer text
            </div>
            <div class='sdc-tile-footer-icon'>
                <svg class="svg-icon unlocked black">
                    <use href="./gen/assests/icons/unlocked.svg#unlocked_icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assests/icons/unlocked.svg#unlocked_icon"></use>
                </svg>
            </div>
        </div>
    </div>

    <div class="sdc-tile-catalog sdc-tile-fix-width sdc-code">
        <div class="sdc-tile-header">
            <div class='sdc-tile-header-type purple'>
                vlm
            </div>
        </div>
        <div class='sdc-tile-content'>
            <div class='sdc-tile-content-icon'>
                <svg class="svg-icon purple">
                    <use href="./gen/assests/icons/vsp.svg#vsp_icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assests/icons/vsp.svg#vsp_icon"></use>
                </svg>
            </div>
            <div class='sdc-tile-content-info'>
                <div class="sdc-tile-content-info-item-name">vlm</div>
                <div class="sdc-tile-content-info-version-info">
                    <div class="sdc-tile-content-info-version-info-text" data-test-id="sdc-catalog-item-version">V 0.1</div>
                </div>
            </div>
        </div>
        <div class='sdc-tile-footer'>
            <div class='sdc-tile-footer-text'>
                Footer text
            </div>
            <div class='sdc-tile-footer-icon'>
                <svg class="svg-icon unlocked black">
                    <use href="./gen/assests/icons/locked.svg#locked_icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assests/icons/locked.svg#locked_icon"></use>
                </svg>
            </div>
        </div>
    </div>
</div>