<div class="sdc-tile">
    <div class="sdc-tile-header purple">VFC</div>
    <div class="sdc-tile-content">
        <div class="sdc-tile-content-icon">
            <div class="svg-icon-wrapper">
                <!-- insert SVG -->
            </div>
        </div>
        <div class="sdc-tile-content-info">
            <div class="sdc-tile-info-line title">Title</div>
            <div class="sdc-tile-info-line subtitle">V 1.0</div>
        </div>
    </div>
    <div class="sdc-tile-footer">
        <span class="sdc-tile-footer-cell">Certified</span>
    </div>
</div>
