<div class="sdc-tile-catalog sdc-tile-fix-width" data-code-id="catalog-sample">
    <div class="sdc-tile-header">
        <div class="sdc-tile-header-type purple">VLM</div>
    </div>
    <div class="sdc-tile-content">
        <div class="sdc-tile-content-icon">
            <div class="svg-icon-wrapper   bottom">
                <svg class="svg-icon vlm purple">
                    <use href="./vlm.svg#vlm_icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./vlm.svg#vlm_icon"></use>
                </svg>                
            </div>
        </div>
        <div class="sdc-tile-content-info">
            <div class="sdc-tile-content-info-vendor-name"></div>
            <div class="sdc-tile-content-info-item-name">demo vlm</div>
            <div class="sdc-tile-content-info-version-info">
                <div class="sdc-tile-content-info-version-info-text" data-test-id="sdc-catalog-item-version">1.1</div>
            </div>
        </div>
    </div>
    <div class="sdc-tile-footer">
        <div class="sdc-tile-footer-text">Unlocked</div>
        <div class="sdc-tile-footer-icon">
            <div class="svg-icon-wrapper   bottom">
                <svg class="svg-icon unlocked ">
                    <use href="./unlocked.svg#unlocked_icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./unlocked.svg#unlocked_icon"></use>
                </svg>                
            </div>
        </div>
    </div>
</div>