<div class="sdc-tile">
    <div class="sdc-tile-header purple">VLM</div>
    <div class="sdc-tile-content">
        <div class="sdc-tile-content-icon purple">
            <div class="svg-icon-wrapper">
                <!-- insert SVG -->
            </div>
        </div>
        <div class="sdc-tile-content-info">
            <div class="sdc-tile-info-line title">VLM Name</div>
        </div>
    </div>
    <div class="sdc-tile-footer">
        <span class="sdc-tile-footer-cell">Certified</span>
        <span class="sdc-tile-footer-cell">
            <div class="svg-icon-wrapper left">
                <!-- insert SVG -->
                <span class="svg-icon-label">Owner</span>
            </div>
        </span>
    </div>
</div>
