<div class="catalog-tile tile license-model-type" data-test-id="license-model-type">
    <div class="catalog-tile-top item-details">
        <div class="catalog-tile-type license-model-type">VLM</div>
        <div class="catalog-tile-icon license-model-type">
            <div class="icon">
                <div class="svg-icon-wrapper   bottom">
                    <svg class="svg-icon vlm ">
                        <use href="./assests/icons/vlm.svg#vlm_icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assests/icons/vlm.svg#vlm_icon"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="catalog-tile-entity-details">
            <div>
                <div class="catalog-tile-vendor-name"></div>
            </div>
            <div>
                <div class="catalog-tile-item-name">vlm</div>
            </div>
             <div class="catalog-tile-version-info">
                <div class="catalog-tile-item-version" data-test-id="catalog-item-version">V 0.2</div>
             </div>
        </div>
        <div class="catalog-tile-content license-model-type">
            <div class="catalog-tile-locking-user-name">Checked In</div>
            <div class="catalog-tile-check-in-status">
                <div data-test-id="catalog-item-checked-in" class="svg-icon-wrapper   bottom">
                    <svg class="svg-icon locked ">
                        <use href="./assests/icons/locked.svg#locked_icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assests/icons/locked.svg#locked_icon"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>