<div class="catalog-tile tile software-product-type" data-test-id="software-product-type">
    <div class="catalog-tile-top item-details">
        <div class="catalog-tile-type software-product-type">VSP</div>
        <div class="catalog-tile-icon software-product-type">
            <div class="icon">
                <div class="svg-icon-wrapper   bottom">
                    <svg class="svg-icon vsp ">
                        <use href="./assests/icons/vsp.svg#vsp_icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assests/icons/vsp.svg#vsp_icon"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="catalog-tile-entity-details">
            <div>
                <div class="catalog-tile-vendor-name">vlm</div>
            </div>
            <div>
                <div class="catalog-tile-item-name">lilach vsp</div>
            </div>
            <div class="catalog-tile-version-info">
                <div class="catalog-tile-item-version" data-test-id="catalog-item-version">V 0.1</div>
            </div>
        </div>
        <div class="catalog-tile-content software-product-type">
            <div class="catalog-tile-locking-user-name">Checked Out</div>
            <div class="catalog-tile-check-in-status">
                <div data-test-id="catalog-item-checked-out" class="svg-icon-wrapper   bottom">
                    <svg class="svg-icon unlocked ">
                        <use href="./assests/icons/unlocked.svg#unlocked_icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assests/icons/unlocked.svg#unlocked_icon"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>