<div class="sdc-tile">
    <div class="sdc-tile-header blue">VSP</div>
    <div class="sdc-tile-content">
        <div class="sdc-tile-content-icon blue">
            <div class="svg-icon-wrapper">
                <!-- insert SVG -->
            </div>
        </div>
        <div class="sdc-tile-content-info">
            <div class="sdc-tile-info-line supertitle">VLM</div>
            <div class="sdc-tile-info-line title">VSP Name</div>
        </div>
    </div>
    <div class="sdc-tile-footer">
        <span class="sdc-tile-footer-cell">Draft</span>
    </div>
</div>
