<div class="sdc-autocomplete-container">
    <sdc-filter-bar
        [placeholder]="placeholder"
        [label]="label"
        [(searchQuery)]="searchQuery">
    </sdc-filter-bar>
    <ul class="autocomplete-results" [@displayResultsAnimation]="(searchQuery && !selectedQuery) || (searchQuery!==selectedQuery && searchQuery)?'true':'false'">
        <li *ngFor="let item of complexData | PipeAutocomplete:searchQuery"
        (click)="onItemSelected(item.key)">{{item.value}}</li>
    </ul>
</div>
