$space-lines: 7px;
$padding-for-sub-level: 20px;
.checkbox-item{
  margin: $space-lines 0;
 .sdc-checkbox__label{
    @extend .body-2-semibold;
  }
  .semi-checked{
    //missing icon from Reut/Lis
  }
}
.checkbox-sublist{
  padding-left: $padding-for-sub-level;
  .checkbox-item{
    .sdc-checkbox__label{
      @extend .body-2;
    }
  }
}
