<div>
    <div class="checkbox-item">
        <div class="sdc-checkbox">
            <input class="sdc-checkbox__input" type="checkbox">
            <label class="sdc-checkbox__label">apple</label>
        </div>
    </div>
</div>
<div>
    <div class="checkbox-item">
        <div class="sdc-checkbox">
            <input class="sdc-checkbox__input" type="checkbox">
            <label class="sdc-checkbox__label">banana</label>
        </div>
    </div>
</div>
<div>
    <div class="checkbox-item">
        <div class="sdc-checkbox">
            <input class="sdc-checkbox__input" type="checkbox">
            <label class="sdc-checkbox__label">orange</label>
        </div>
    </div>
</div>
