/* Tooltop styles */
.sdc-custom-tooltip {
    text-align: center;
}

/* Tooltip template */
.sdc-custom-tooltip-template-title {
    font-size: 20px;
    font-weight: bold;
    background-color: $dark-blue;
    color: $white;
    text-align: center;
}

.sdc-custom-tooltip-template-content {
    background-color: $dark-blue;
    color: $white;
    display: inline-block;
    text-align: center;
}

.sdc-custom-tooltip-template-image {
    width: 100%;
    height:100%;
    display: inline-block;
    text-align: center;
    background-color: #ffffff;
}
