/*
These styles should not be part of SDC-UI
This is a workaroud until find solution how to add styles to component lab.
*/

/* Custom style tooltip sample */
.sdc-custom-tooltip {
    background-color: $black;
    border-color: $black;
    border-radius: 10px;
}

/* Template tooltip sample */
.sdc-custom-tooltip-template-title {
    font-size: 20px;
    font-weight: bold;
    background-color: $black;
    color: $white;
    text-align: center;
}

.sdc-custom-tooltip-template-content {
    background-color: $black;
    color: $white;
    display: inline-block;
    text-align: center;
}

.sdc-custom-tooltip-template-image {
    width: 100%;
    height:100%;
    display: inline-block;
    text-align: center;
    background-color: #ffffff;
}
