/* Tooltop styles */
.sdc-custom-tooltip {
    background-color: $light-gray;
    color: $dark-blue;
    border: solid 1px $gray;
    text-align: center;
}

.sdc-custom-tooltip-top::after {
    border-color: $gray transparent transparent transparent;
}

.sdc-custom-tooltip-bottom::after {
    border-color: transparent transparent $gray transparent;
}

.sdc-custom-tooltip-left::after {
    border-color: transparent transparent transparent $gray;
}

.sdc-custom-tooltip-right::after {
    border-color: transparent $gray transparent transparent;
}

/* Tooltip template */
.sdc-custom-tooltip-template-title {
    font-size: 20px;
    font-weight: bold;
    background-color: $light-gray;
    color: $dark-blue;
    text-align: center;
}

.sdc-custom-tooltip-template-content {
    background-color: $light-gray;
    color: $dark-blue;
    text-align: center;
}
