<div class="sdc-list-new-item-field">
    <div class="sdc-input">
        <label class="sdc-input__label">Please Enter value</label>
        <input class="sdc-input__input disabled" type="text" name="undefined" placeholder="Type a value and then click enter or '+'" disabled="disabled">
    </div>
    <div class="add-button disabled">
        <span class="plus-icon">
            <svg xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" id="plus_icon" style="enable-background:new 0 0 19 19;" version="1.1" viewBox="0 0 19 19" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
                <g>
                    <rect height="3" width="19" y="8"></rect>
                    <path d="M8,19V0h3v19H8z" id="Rectangle_2139_copy"></path>
                </g>
            </svg>
        </span>
    </div>
</div>
<div class="sdc-list-container">
     <div class="list-item view-only">
        <span>aaa</span>
    </div>
    <div class="list-item view-only">
        <span>bbb</span>
    </div>
</div>
