.sdc-autocomplete-container{
    position: relative;

    &.results-shown{
      .sdc-input__input{
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    ul.autocomplete-results {
      opacity: 0;
      border: solid 1px $blue;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top:none;
      background-color: $white;
      max-height: 200px;
      box-shadow: 0 3px 7px -3px $dark-gray;
      overflow-y: scroll;
      overflow-x: hidden;
      position: absolute;
      box-sizing: border-box;
      width: 100%;
      left: 0;
      top: 100%;

      li {
        color:$text-black;
        text-indent: 10px;
        line-height: 30px;
        cursor:pointer;
        @include body-1;

        &:hover {
          background-color: $lighter-blue;
          color: $blue;
        }
      }

    }

  }
