<table class="sdc-table">
    <thead>
        <tr class="sdc-table_tr--head">
            <th class="sdc-table_tr_th"
                [style.width]="col.width"
                [ngClass]="{ 'sortable': col.sortable }"
                *ngFor="let col of headerCols">
                <div class="th-content">
                    <span class="value">{{ col.title }}</span>
                    <i *ngIf="col.sortable"
                       [ngClass]="
                        (sortByField !== col.key) ? 'icon-unsorted' :
                        (sortDescending) ? 'icon-sort-desc' : 'icon-sort-asc'">
                    </i>
                </div>
            </th>
        </tr>
    </thead>

    <tbody *ngIf="tableFieldsData.length">
        <tr class="sdc-table_tr" *ngFor="let row of tableFieldsData">
            <td class="sdc-table_tr_td" *ngFor="let col of headerCols">{{row[col.key]}}</td>
        </tr>
    </tbody>
</table>
