<div class="sdc-table">
    <div class="sdc-table_tr--head">
        <div class="sdc-table_tr_th"
            [style.width]="col.width"
            [ngClass]="{ 'sortable': col.sortable }"
            (click)="onColumnHeaderClick(col)"
            *ngFor="let col of headerCols">
            <div class="th-content" [ngStyle]="{'text-align': textPositionHeader}">
                <span class="value" >{{ col.title }}</span>
                <i *ngIf="col.sortable"
                   [ngClass]="
                        (sortByField !== col.key) ? 'icon-unsorted' :
                        (sortDescending) ? 'icon-sort-desc' : 'icon-sort-asc'">
                </i>
            </div>
        </div>
    </div>
</div>
