html {
  font-size: 100%;
  height: 100%;
}

body {
  /* scrollbar styling for Internet Explorer */
  scrollbar-face-color: $light-gray;
  scrollbar-track-color: $white;
  scrollbar-shadow-color:$white;
  scrollbar-arrow-color: $gray;

  height: 100%;
  @include text-select;
}

/* scrollbar styling for Google Chrome | Safari | Opera */
::-webkit-scrollbar {
  width: 11px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: $white;
  border: 1px solid $light-gray;
  border-top:none;
  border-bottom:none;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: $gray;
  border: 2px solid rgba(0,0,0,0);
  background-clip: padding-box;
  
  &:hover {
    border-width:1px 0px 1px 1px;
  }
}

/* Mozilla Firefox currently doesn't support scrollbar styling */

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

input[type='text'] {
  padding: 4px;
  width: 100%;
}

input[type="checkbox"] {
  width: auto;
}

input, select, button {
  @include body-1;
  box-sizing: border-box;
}

fieldset {
  border: none;
}

fieldset {
  label {
    display: inline-block;
  }
}

.nav-tabs > li > a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
}

.error-message{
  color: $red;
  @include body-3;
  margin-top: 3px;
  &:before{
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 6px;
    //not correct icon
    background: no-repeat url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14" height="14" viewBox="0 0 24 24"><defs><path id="alert-copy-a" d="M22.3815,16.5997 L13.9815,2.4007 C13.5815,1.6997 12.8815,1.1997 12.0815,0.9997 C11.2815,0.7997 10.4815,0.9007 9.7815,1.2997 C9.3815,1.4997 8.9815,1.9007 8.7815,2.2997 L0.3815,16.5997 C-0.4185,17.9997 0.0815,19.9007 1.4815,20.6997 C1.8815,20.9997 2.3815,21.0997 2.8815,21.0997 L19.8815,21.0997 C20.6825,21.0997 21.4815,20.7997 21.9815,20.1997 C22.5815,19.5997 22.8815,18.9007 22.8815,18.0997 C22.7815,17.5997 22.6825,16.9997 22.3815,16.5997 M11,7 C10.4,7 10,7.4 10,8 L10,12 C10,12.601 10.4,13 11,13 C11.6,13 12,12.601 12,12 L12,8 C12,7.4 11.6,7 11,7 M10.3,15.3 C10.1,15.499 10,15.699 10,15.999 C10,16.3 10.1,16.499 10.3,16.699 C10.5,16.9 10.7,16.999 11,16.999 C11.3,16.999 11.5,16.9 11.7,16.699 C11.9,16.499 12,16.199 12,15.999 C12,15.8 11.9,15.499 11.7,15.3 C11.3,14.9 10.7,14.9 10.3,15.3"/></defs><g fill="none" fill-rule="evenodd" transform="translate(1 1)"><use fill="'+ $red +'" xlink:href="#alert-copy-a"/></g></svg>');
  }
}
