// Colors
$black: #000000;
$darker-blue: #323943;
$text-black: #191919;
$blue: #009fdb;
$dark-blue: #0568ae;
$light-blue: #1eb9f3;
$lighter-blue: #e6f6fb;
$disabled-blue: #9dd9ef;
$red: #cf2a2a;
$light-red:#ed4141;
$disabled-red:#f4adad;
$purple: #9063cd;
$dark-purple: #702f8a;
$yellow: #ffb81c;
$light-yellow: #f6c632;
$disabled-yellow: #ffdb8d;
$green: #4ca90c;
$light-green: #57c00e;
$disabled-green: #a5d485;
$gray: #959595;
$dark-gray: #5a5a5a;
$light-gray: #d2d2d2;
$light-silver: #f2f2f2;
$silver: #eaeaea;


$light-purple: #caa2dd;
$lighter-silver: #f8f8f8;
$white: #ffffff;

$scroll-bar-color: $text-black;

// Button Sizes
$btn-extra-small: 90px;
$btn-small: 110px;
$btn-medium: 140px;
$btn-large: 180px;
$btn-default: auto;
