<div class="sdc-panel">
    <h3>
        Panel
    </h3>
    <div class="sdc-checkbox">
        <label>
            <input type="checkbox" class="sdc-checkbox__input" />
            <span class="sdc-checkbox__label">
                filter-item
            </span>
        </label>
    </div>
    <div class="sdc-checkbox ">
        <label>
            <input type="checkbox" class="sdc-checkbox__input" checked="" />
            <span class="sdc-checkbox__label">
                filter-item-checked
            </span>
        </label>
    </div>
</div>