$inputHeight: 38px;

.search-bar-container {
  .sdc-input {
    margin: 0;
    .sdc-input__input:focus {
      border-color: $blue;
      outline: 0 none;
    }
  }
  .action-button {
    cursor: pointer;
  }
  .magnify-button {
    svg{
      height: 20px;
      width: 20px;
      path{
        fill: $gray;
      }
    }
  }
}

sdc-filter-bar {
  .sdc-input {
    .sdc-input__input{
      padding-right: 40px;
    }
  }


  .filter-button{
    position: relative;
    float: right;
    bottom: $inputHeight;
    height: $inputHeight;
    right: 11px;
    svg{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .clear-search-x {
    svg{
      height: 14px;
      width: 14px;
      path{
        fill: $gray;
      }
    }
  }
}


