$inputHeight: 38px;
.sdc-search-bar{
  .search-bar-container{
    display: flex;
    sdc-input{
      flex-grow: 1;
      .sdc-input{
        margin: 0;
        .sdc-input__input{
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
    .search-button{
      width: $inputHeight;
      height: $inputHeight - 2;
      border: solid 1px $light-gray;
      border-left: none;
      background-color: $background-gray;
      margin-top: 17px;
      cursor: auto;
      svg{
        height: 20px;
        width: 20px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50% );
        path{
          fill: $gray;
        }
      }
    }
    &.not-empty{
      .sdc-input__input {
        border-color: $blue;
      }
      .search-button{
        background-color: $tlv-select;
        border-color: $blue;
        cursor: pointer;
        svg path{
          fill: $blue;
        }
      }
    }
  }
}
