$inputHeight: 38px;
.search-button{
  width: $inputHeight;
  height: $inputHeight - 2;
  border: solid 1px $light-gray;
  background-color: $background-gray;
  svg{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50% );
  }
  &:hover{
    background-color: $tlv-hover;
    svg path{
      fill: $hover-blue;
    }
  }
}
.search-bar-container:focus-within {
  .search-button {
    border-color: $blue;
  }
}
