<label class="sdc-input__label">search box example:</label>
<input class="sdc-input__input" type="text" name="undefined" placeholder="search text">
<span class="search-bar-button action-button">
    <svg xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" id="search_icon" style="enable-background:new 0 0 14 14.1;" version="1.1" viewBox="0 0 14 14.1" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
        <path d="M13.9,13.3l-3.6-3.6c0.9-1,1.4-2.4,1.4-3.8C11.7,2.6,9.1,0,5.9,0S0,2.6,0,5.9s2.6,5.9,5.9,5.9c1.5,0,2.8-0.5,3.8-1.4
            l3.6,3.6c0.1,0.1,0.2,0.1,0.3,0.1s0.2,0,0.3-0.1C14,13.7,14,13.4,13.9,13.3z M5.9,10.9c-2.8,0-5-2.2-5-5s2.2-5,5-5s5,2.2,5,5
            S8.6,10.9,5.9,10.9z"></path>
    </svg>
</span>
