//@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');
@font-face {
  font-family: 'OpenSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
}
@font-face {
  font-family: 'OpenSans-Semibold';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNShampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
}
@import '../scss/style.scss';

.colors-table {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
  .color-section {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    min-width: 150px;
    div {
      align-self: center;
    }
    $circle-size: 40px;
    .color-circle {
      height: $circle-size;
      width: $circle-size;
      border-radius: $circle-size;
      padding: 10px;
      text-align: center;
    }
  }
}
