.sdc-tile {
  background-color: $white;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid $tlv-light-gray;
  padding: 0.5vw;
  overflow: hidden;
  
  @include box-shadow(0.5px 0.8px 4px 0 rgba(24, 24, 25, 0.05));
  
  &:active {
	  border: 1px solid $light-blue;
  }

  &:hover {
    @include box-shadow(3px 3px 3px 0 rgba(24, 24, 25, 0.15));
  }

  .sdc-tile-header {
    flex-shrink: 0;
    order: 1;
  }

  .sdc-tile-content {
    flex-grow: 100;
    order: 2;
  }
  
  .sdc-tile-footer {
    flex-shrink: 0;
    order: 3;
  }
}
