<div class='component'>Button</div>

<ul class='buttons-showcase'>
    <li>
        <button class='sdc-button'>Simple Default Button</button>
        <code>&lt;button class='sdc-button'&gt;Simple Button&lt;/button&gt;</code>
    </li>
    <li>
        <button class='sdc-button purple'>Simple Button - Purple</button>
        <code>&lt;button class='sdc-button purple'&gt;Simple Button - Purple&lt;/button&gt;</code>
    </li>
    <li>
        <button class='sdc-button blue'>Simple Button - Blue</button>
        <code>&lt;button class='sdc-button blue'&gt;Simple Button - Blue&lt;/button&gt;</code>
    </li>
</ul>
