<div class='component'>Colors</div>
<P>
    List of supported colors. All colors are background colors.
</P>
<ul class='sdc-colors-showcase'>
    <li class='sdc-bc-blue'>sdc-bc-blue</li>
    <li class='sdc-bc-dark-blue'>sdc-bc-dark-blue</li>
    <li class='sdc-bc-light-blue'>sdc-bc-light-blue</li>
    <li class='sdc-bc-green'>sdc-bc-green</li>
    <li class='sdc-bc-dark-green'>sdc-bc-dark-green</li>
    <li class='sdc-bc-light-green'>sdc-bc-light-green</li>
    <li class='sdc-bc-orange'>sdc-bc-orange</li>
    <li class='sdc-bc-yellow'>sdc-bc-yellow</li>
    <li class='sdc-bc-dark-purple'>sdc-bc-dark-purple</li>
    <li class='sdc-bc-purple'>sdc-bc-purple</li>
    <li class='sdc-bc-light-purple'>sdc-bc-light-purple</li>
    <li class='sdc-bc-black'>sdc-bc-black</li>
    <li class='sdc-bc-dark-gray'>sdc-bc-dark-gray</li>
    <li class='sdc-bc-gray'>sdc-bc-gray</li>
    <li class='sdc-bc-light-gray'>sdc-bc-light-gray</li>
    <li class='sdc-bc-white'>sdc-bc-white</li>
</ul>
<p>Example of usage:</p>
<code>
    &lt;div class='sdc-bc-blue'&gt;sdc-bc-blue&lt;/div&gt;   
</code>