<div class='component'>Tiles</div>
<p>
    Onboarding Tiles 
</p>

<p>
    VSP Tile 
</p>

<div class="catalog-tile tile software-product-type" data-test-id="software-product-type">
    <div class="catalog-tile-top item-details">
        <div class="catalog-tile-type software-product-type">VSP</div>
        <div class="catalog-tile-icon software-product-type">
            <div class="icon">
                <div class="svg-icon-wrapper   bottom">
                    <svg class="svg-icon vsp ">
                        <use href="./assests/icons/vsp.svg#vsp_icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assests/icons/vsp.svg#vsp_icon"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="catalog-tile-entity-details">
            <div>
                <div class="catalog-tile-vendor-name">vlm</div>
            </div>
            <div>
                <div class="catalog-tile-item-name">lilach vsp</div>
            </div>
            <div class="catalog-tile-version-info">
                <div class="catalog-tile-item-version" data-test-id="catalog-item-version">V 0.1</div>
            </div>
        </div>
        <div class="catalog-tile-content software-product-type">
            <div class="catalog-tile-locking-user-name">Checked Out</div>
            <div class="catalog-tile-check-in-status">
                <div data-test-id="catalog-item-checked-out" class="svg-icon-wrapper   bottom">
                    <svg class="svg-icon unlocked ">
                        <use href="./assests/icons/unlocked.svg#unlocked_icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assests/icons/unlocked.svg#unlocked_icon"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    VLM Tile 
</p>

<div class="catalog-tile tile license-model-type" data-test-id="license-model-type">
    <div class="catalog-tile-top item-details">
        <div class="catalog-tile-type license-model-type">VLM</div>
        <div class="catalog-tile-icon license-model-type">
            <div class="icon">
                <div class="svg-icon-wrapper   bottom">
                    <svg class="svg-icon vlm ">
                        <use href="./assests/icons/vlm.svg#vlm_icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assests/icons/vlm.svg#vlm_icon"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="catalog-tile-entity-details">
            <div>
                <div class="catalog-tile-vendor-name"></div>
            </div>
            <div>
                <div class="catalog-tile-item-name">vlm</div>
            </div>
             <div class="catalog-tile-version-info">
                <div class="catalog-tile-item-version" data-test-id="catalog-item-version">V 0.2</div>
             </div>
        </div>
        <div class="catalog-tile-content license-model-type">
            <div class="catalog-tile-locking-user-name">Checked In</div>
            <div class="catalog-tile-check-in-status">
                <div data-test-id="catalog-item-checked-in" class="svg-icon-wrapper   bottom">
                    <svg class="svg-icon locked ">
                        <use href="./assests/icons/locked.svg#locked_icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assests/icons/locked.svg#locked_icon"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    Vendor Tile 
</p>

<div class="catalog-tile tile vendor-type" data-test-id="vendor-type">
    <div class="catalog-tile-top">
        <div class="catalog-tile-icon vendor-type">
            <div class="icon">
                <div class="svg-icon-wrapper   bottom">
                    <svg class="svg-icon vendor ">
                        <use href="./assests/icons/vendor.svg#vendor_icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assests/icons/vendor.svg#vendor_icon"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="catalog-tile-item-name">vlm</div>
        <div class="catalog-tile-vsp-count clickable" data-test-id="catalog-vsp-count">1 VSPs</div>
        <div class="catalog-tile-content" data-test-id="catalog-create-new-vsp-from-vendor">
            <div class="create-new-vsp-button">
                <div class="svg-icon-wrapper   bottom">
                    <svg class="svg-icon plus ">
                        <use href="./assests/icons/plus.svg#plus_icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./assests/icons/plus.svg#plus_icon"></use>
                    </svg>
                </div>
                &nbsp;&nbsp;&nbsp;Create new VSP
            </div>
        </div>
    </div>
</div>