<div class='component'>Tiles</div>
<p>
    All tiles does not have size, you can define the size in the wrapping container, or adding them 
    to css in your project.    
</p>
<h3>Tile with header content and footer</h3>
<p>
    Tile that has header, content and footer. The content will resize automaticly his height.
</p>
<div class='sdc-tile sdc-tile-1'>
    <div class='sdc-tile-header'>Sdc Tile Header</div>
    <div class='sdc-tile-content'>Sdc Tile Content <br> Second line</div>
    <div class='sdc-tile-footer'>Sdc Tile Footer</div>
</div>
<code>
    &lt;div class='sdc-tile'&gt;
    <br/>&nbsp;&lt;div class='sdc-tile-header'&gt;Sdc Tile Header&lt;/div&gt;
    <br/>&nbsp;&lt;div class='sdc-tile-content'&gt;Sdc Tile Content &lt;br&gt; Second line&lt;/div&gt;
    <br/>&nbsp;&lt;div class='sdc-tile-footer'&gt;Sdc Tile Footer&lt;/div&gt;
    <br/>&lt;/div&gt;
</code>

<div class='sdc-tile sdc-tile-2'>
    <div class='sdc-tile-content'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempor ex vel auctor scelerisque.</div>
</div>