<div class='component'>Tiles</div>
<p>
    All tiles does not have size, you can define the size in the wrapping container, or adding them 
    to css in your project.
    <br><b>Note:</b> tile has overflow hidden, so elements/text inside the tile will be hidden if the text/elements overflow.   
</p>
<h3>Tile with header, content and footer</h3>
<p>
    Tile that has header, content and footer. The content will resize automaticly his height.
</p>
<div class='sdc-tile'>
    <div class='sdc-tile-header' style='background-color: #dddddd;'>Sdc Tile Header</div>
    <div class='sdc-tile-content' style='background-color: #f1f1f1;'>Sdc Tile Content <br> Second line</div>
    <div class='sdc-tile-footer' style='background-color: #dddddd;'>Sdc Tile Footer</div>
</div>
<code>
    &lt;div class='sdc-tile'&gt;
    <br/>&nbsp;&lt;div class='sdc-tile-header' style='background-color: #dddddd;'&gt;Sdc Tile Header&lt;/div&gt;
    <br/>&nbsp;&lt;div class='sdc-tile-content' style='background-color: #f1f1f1;'&gt;Sdc Tile Content &lt;br&gt; Second line&lt;/div&gt;
    <br/>&nbsp;&lt;div class='sdc-tile-footer' style='background-color: #dddddd;'&gt;Sdc Tile Footer&lt;/div&gt;
    <br/>&lt;/div&gt;
</code>

<h3>Empty tile</h3>
<p>
    The content will resize automaticly his height.
    In this example we set the height and width to be 20 of the view height|width.
</p>
<div class='sdc-tile' style='width: 20vw; height:20vw;'>
    <div class='sdc-tile-content'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempor ex vel auctor scelerisque.</div>
</div>
<code>
    &lt;div class='sdc-tile' style='width: 20vw; height:20vw;'&gt;
    <br/>&nbsp;&lt;div class='sdc-tile-content'&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempor ex vel auctor scelerisque.&lt;/div&gt;
    <br/>&lt;/div&gt;
</code>