.sdc-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15007;
  overflow: auto;
  margin: auto;
  display: flex;
  align-items: center;
  svg path {
    fill: inherit;
  }

  .sdc-modal__wrapper {
    @extend .body-1;
    background: $white;
    width: 100%;
    box-shadow:  0 0 4px 0 rgba(0,0,0,0.50);
    color: $text-black;
    display: flex;
    flex-direction: column;    
    &.sdc-modal-type-info {
      border-top: solid 6px $blue;

      .sdc-modal__svg-use {
        fill: $blue;
      }

      &.popup {
        padding-left: 70px;
        padding-right: 68px;
      }
    }
    &.sdc-modal-type-alert {
      border-top: solid 6px $yellow;

      .sdc-modal__svg-use {
        fill: $yellow;
      }
    }
    &.sdc-modal-type-error {
      border-top: solid 6px $red;

      .sdc-modal__svg-use {
        fill: $red;
      }
    }
    &.sdc-modal-type-custom {
      padding: 0px;
      border-top: none;                           
      .sdc-modal__header {
        @include box-sizing;
        padding: 20px 20px;        
        background-color: $blue;
        color: $white;                
        height: 60px;         
        .title {
          color: $white;
          padding-top: 0px;
        }
        .sdc-modal__close-button-svg {          
          width: 20px;
          height: 20px;
          .sdc-modal__svg-use {                        
              fill: $white;            
          }        
        }
      }
      .sdc-modal__content {
        padding: 20px 40px;
      }
    }
    .sdc-modal__header {
      padding: 14px 14px 8px 14px;                        
      display: flex;
      justify-content: space-between;
      text-align: left;
      .sdc-modal__icon {        
        padding: 10px 12px 0px 12px;
      }
      
      .title {
        @extend .heading-2;  
        flex: 1 1 auto;      
        color: $text-black;
        padding-top: 14px;                
      }

      .sdc-modal__close-button {
        order:3;
        width: 14px;
        height: 14px;        
        cursor: pointer;                
        .sdc-modal__svg-use {
          fill: $black;         
        }        
      }                  
      &.sdc-modal-type-info {
        border-top: solid 6px $blue;
      }

      &.sdc-modal-type-error {
        border-top: solid 6px $red;
      }

      &.sdc-modal-type-alert {
        border-top: solid 6px $yellow;
      }      
    }
    .sdc-modal__content {
      order:2;      
      padding-left: 70px;
      padding-right: 68px;
      padding-bottom: 26px;            
    } 
    
    .sdc-modal__footer {
      order:3;
      background-color: $white;
      border-top: solid 1px $tlv-light-gray;
      padding: 7px 10px;
      clear: both;                   
      display: flex;      
      align-items: center;      
      justify-content: flex-end;
      border-radius: 4px;
      button{
        margin-left: 10px;
      }
    }
  }
}

.modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.70;
  z-index: 900;
}

.xl {
  width: 1200px;
}

.l {
  width: 875px;
}

.md {
  width: 650px;
}

.sm {
  width: 500px;
}

.xsm {
  width: 432px;
}

