.example{
  margin:5px;
}

.sdc-modal {

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15007;
  overflow: auto;
  margin: auto;
  display: flex;
  align-items: center;

  svg path {
    fill: inherit;
  }

  .sdc-modal__wrapper {

    @extend .body-1;
    background: $white;
    width: 100%;
    box-shadow:  0 0 4px 0 rgba(0,0,0,0.50);
    color: $text-black;
    display: flex;
    flex-direction: column;

    &.sdc-modal-type-info {
      border-top: solid 6px $blue;

      .sdc-modal__svg-use {
        fill: $blue;
      }

      &.popup {
        padding-left: 70px;
        padding-right: 68px;
      }
    }

    &.sdc-modal-type-alert {
      border-top: solid 6px $yellow;

      .sdc-modal__svg-use {
        fill: $yellow;
      }
    }

    &.sdc-modal-type-error {
      border-top: solid 6px $red;

      .sdc-modal__svg-use {
        fill: $red;
      }
    }

    &.sdc-modal-type-custom {
      padding: 5px 20px;
      border-top: solid 6px $blue;
    }

    .sdc-modal__body {
      display:flex;
      padding:14px;
      min-height: 80px;

      .sdc-modal__icon {
        flex: 0 0 25px;
        order:1;
        padding: 10px 12px;
      }
  
      .sdc-modal__close-button {
        order:3;
        width: 14px;
        height: 14px;
        cursor: pointer;
      }

      .sdc-modal__content {
        order:2;
        flex: 1;
        padding: 10px 2px;
        .title {
          @extend .heading-2;
          -webkit-box-flex: 999;
          -ms-flex-positive: 999;
          flex-grow: 999;
          padding: 0 0 12px;
          line-height:30px;
        }
      } 
    }

    .sdc-modal__footer {
      background-color: $white;
      border-top: solid 1px $tlv-light-gray;
      padding: 10px;
      clear: both;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      border-radius: 4px;
      button{
        margin-left: 10px;
      }
    }
  }
}

.modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.70;
  z-index: 900;
}

.xl {
  width: 1200px;
}

.l {
  width: 875px;
}

.md {
  width: 650px;
}

.sm {
  width: 500px;
}

.xsm {
  width: 432px;
}

