.example{
  margin:5px;
}

.sdc-modal {

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15007;
  overflow: auto;
  margin: auto;
  display: flex;
  align-items: center;

  .sdc-modal__content {

    @extend .body-1;
    background: $white;
    width: 100%;
    box-shadow:  0 0 4px 0 rgba(0,0,0,0.50);
    color: $text-black;
  
    .sdc-modal__body {
      padding: 5px 20px 10px 25px;
      min-height: 80px;

      &.sdc-modal-type-custom {
        padding: 30px 20px 30px 25px;
      }

      &.popup {
        padding-left: 70px;
        padding-right: 68px;
      }
    }

    .sdc-modal__header {
      padding: 12px 24px;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between;
      text-align: left;            
      background-color: #009fdb;           
      
      .title {
        @extend .heading-2;
        -webkit-box-flex: 999;
        -ms-flex-positive: 999;
        flex-grow: 999;
        color: $white;
        &.popup {
          padding-top: 14px;
          color: $text-black;;
        }
      }
      .popup-icon {        
        margin-right: 14px;
        padding-top: 14px;
        .svg-icon {
          width: 30px;
          height: 30px;
        }
        &.error {
          fill: $red;          
        }
        &.info {
          fill: $blue
        }
        &.alert {
          fill: $yellow;
        }
      }
      .close-button {        
        cursor: pointer;
        fill: $white;
        padding-top: 6px;
        .svg-icon {
          width: 20px;
          height: 20px;
        }
        &.popup {          
          fill: $gray;          
          .svg-icon {
            width: 14px;
            height: 14px;
          }
        }
      }
      &.popup-header {
        background-color: transparent;        
      }
      &.sdc-modal-type-info {
        border-top: solid 6px $blue;
      }

      &.sdc-modal-type-error {
        border-top: solid 6px $red;
      }

      &.sdc-modal-type-alert {
        border-top: solid 6px $yellow;
      }

      &.sdc-modal-type-custom {
        padding: 0px 20px;
        color: $white;
        background-color: $blue;
        height: 50px;
      }
    }

    .sdc-modal__footer {
      background-color: $white;
      border-top: solid 1px $tlv-light-gray;
      padding: 10px 20px 10px 25px;
      clear: both;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      border-radius: 4px;
      button{
        margin-left: 10px;
      }
    }
  }
}

.modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 900;
}

.xl {
  width: 1200px;
}

.l {
  width: 875px;
}

.md {
  width: 650px;
}

.sm {
  width: 552px;
}

.xsm {
  width: 432px;
}
