<div class="sdc-modal md">
   <div class="sdc-modal__wrapper sdc-modal-type-custom">
      <div class="sdc-custom__header sdc-modal__header">
         <div class="title ">Title</div>
         <div class="svg-icon-wrapper sdc-modal__close-button-svg sdc-modal__close-button  clickable bottom">
            <svg class="svg-icon __close" version="1.1" id="close_icon" x="0px" y="0px" viewBox="0 0 10.1 10.1" xml:space="preserve">
               <g transform="translate(0,-952.36218)">
                  <path d="M0.5,952.4c-0.2,0-0.4,0.2-0.4,0.5c0,0.1,0.1,0.2,0.1,0.3l4.3,4.3l-4.3,4.3c-0.2,0.2-0.2,0.4,0,0.6c0.2,0.2,0.4,0.2,0.6,0
                     l0,0l4.3-4.4l4.3,4.3c0.2,0.2,0.4,0.2,0.6,0s0.2-0.4,0-0.6l0,0l-4.3-4.3l4.3-4.3c0.2-0.2,0.2-0.4,0-0.6c-0.1-0.1-0.2-0.1-0.4-0.1
                     c-0.1,0-0.2,0.1-0.3,0.1l-4.2,4.3l-4.3-4.3C0.8,952.4,0.6,952.4,0.5,952.4z"></path>
               </g>
            </svg>            
         </div>
      </div>
      <div class="sdc-modal__content ">
         <div>
            <div class="sdc-input "><label class="sdc-input__label  " for="input1">I am a label</label><input type="text" class="sdc-input__input  " id="input1" name="input1" value="Default"></div>
            <div class="sdc-input "><label class="sdc-input__label  " for="input1">I am a label</label><input type="text" class="sdc-input__input  " id="input1" name="input1" value="Default"></div>
            <div class="sdc-input "><label class="sdc-input__label  " for="input1">I am a label</label><input type="text" class="sdc-input__input  " id="input1" name="input1" value="Default"></div>
         </div>
      </div>
      <div class="sdc-modal__footer">
         <div><button class="sdc-button sdc-button__primary   ">Ok</button><button class="sdc-button sdc-button__secondary">Close</button></div>
      </div>
   </div>
</div>
<div class="modal-background"></div>