<div class="sdc-modal sm">
    <div class="sdc-modal__wrapper sdc-modal-type-info">
      <div class="sdc-modal__header">
        <div class="svg-icon-wrapper sdc-modal__icon sdc-modal__svg-use bottom">
          <svg class="svg-icon __errorCircle" id="error-circle_icon" viewBox="0 0 16 16">
            <title>
              Asset 4
            </title>
            <g id="Layer_2" data-name="Layer 2">
              <g id="Layer_1-2" data-name="Layer 1">
                <path d="M8,0a8,8,0,1,0,8,8A8,8,0,0,0,8,0Zm.9,12.4H7.1V10.6H8.9Zm0-3.6H7.1V3.5H8.9Z">
                </path>
              </g>
            </g>
          </svg>
        </div>
        <div class="title ">
          Standard Modal
        </div>
        <div class="svg-icon-wrapper sdc-modal__close-button-svg sdc-modal__close-button bottom">
          <svg class="svg-icon __close" version="1.1" id="close_icon" x="0px" y="0px" viewBox="0 0 10.1 10.1" style="enable-background:new 0 0 10.1 10.1;" xml:space="preserve">
            <g transform="translate(0,-952.36218)">
              <path d="M0.5,952.4c-0.2,0-0.4,0.2-0.4,0.5c0,0.1,0.1,0.2,0.1,0.3l4.3,4.3l-4.3,4.3c-0.2,0.2-0.2,0.4,0,0.6c0.2,0.2,0.4,0.2,0.6,0
          l0,0l4.3-4.4l4.3,4.3c0.2,0.2,0.4,0.2,0.6,0s0.2-0.4,0-0.6l0,0l-4.3-4.3l4.3-4.3c0.2-0.2,0.2-0.4,0-0.6c-0.1-0.1-0.2-0.1-0.4-0.1
          c-0.1,0-0.2,0.1-0.3,0.1l-4.2,4.3l-4.3-4.3C0.8,952.4,0.6,952.4,0.5,952.4z">
              </path>
            </g>
          </svg>
        </div>
      </div>
      <div class="sdc-modal__content ">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed risus nisl, egestas vitae erat non,pulvinar lacinia libero. Integer pulvinar pellentesque accumsan. Sed hendrerit lacus eu tempus pharetra
      </div>
      <div class="sdc-modal__footer">
        <div>
          <button class="sdc-button sdc-button__primary ">
            Yes
          </button>
          <button class="sdc-button sdc-button__secondary ">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-background"></div>
