.sdc-notification-container {


	float: right;
	display: block;
	width: 400px;
	margin: 0 auto;
	//overflow-y: auto;
	overflow-x: hidden;
	margin-right: 10px;
	height: 600px;

	//background-color: black;

	//display: flex;
	//flex-direction: column;
	//justify-content: flex-end;

	.ntns {
		//background-color: black;
	}
}
