<div class = "row-settings">
    <div class = "item-settings">
        <label>Icon Name: </label>
        <select [(ngModel)]="selectedIcon">
            <option *ngFor="let iconName of iconNames">{{iconName}}</option>
        </select>
    </div>
    <div class = "item-settings">
        <label>Icon label: </label>
        <input [(ngModel)]="label">
    </div>
    <div class = "item-settings">
        <label>Icon Color: </label>
        <select [(ngModel)]="color">
            <option [value]="colors.Warning">Warning</option>
            <option [value]="colors.Primary">Primary</option>
            <option [value]="colors.Positive">Positive</option>
            <option [value]="colors.Negative">Negative</option>
            <option [value]="colors.Secondary">Secondary</option>
        </select>
    </div>
    <div class = "item-settings">
        <label>Label Position: </label>
        <select [(ngModel)]="position" >
            <option [value]="positions.Top">Top</option>
            <option [value]="positions.Bottom">Bottom</option>
            <option [value]="positions.Right">Right</option>
            <option [value]="positions.Left">Left</option>
        </select>
    </div>
    <div class = "item-settings">
        <label>Disabled: </label>
        <input type="checkbox" [(ngModel)]="disabled">
    </div>

</div>


<ng-content></ng-content>
