.sdc-radio {
  display: flex;
  align-items: center;
  .sdc-radio__input {
	position: relative;
	outline: none;
	margin: 0;
	&:before {
	  content: "";
	  display: inline-block;
	  width: 14px;
	  height: 14px;
	  margin-right: 10px;
	  position: absolute;
	  box-sizing: content-box;
	  background: no-repeat url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIg0KCXhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIg0KCXdpZHRoPSIxNHB4IiBoZWlnaHQ9IjE0cHgiIHZpZXdCb3g9IjAgMCAxNCAxNCI+DQo8aW1hZ2UgeD0iMCIgeT0iMCIgd2lkdGg9IjE0IiBoZWlnaHQ9IjE0IiB4bGluazpocmVmPSJkYXRhOmltYWdlL3BuZztiYXNlNjQsaVZCT1J3MEtHZ29BQUFBTlNVaEVVZ0FBQUE0QUFBQU9DQVFBQUFDMVFlVmFBQUFBQkdkQlRVRUFBTEdQQy94aEJRQUFBQ0JqU0ZKTkFBQjZKZ0FBZ0lRQUFQb0FBQUNBNkFBQWRUQUFBT3BnQUFBNm1BQUFGM0NjdWxFOEFBQUFBbUpMUjBRQS80ZVB6TDhBQUFER1NVUkJWQmpUZGRBL1N3SnhBTWJ4ei8wS0U1cml3bGNnaE5KU3I2TEZvVEZwOXM4cnFsOXo0TnFXZTNOQklCM0I3UzFkVGtFcWR6U0lEWHA5MXc4OHc1TkVvR0hreWlsbUptNHRJWWt3Q0xHcjdRaHp1VGZWMEIzN0dCekdDK2w2UVV2TGlXbjhUc1FrTnNMaThvODJGUjZVeldEWTNTRlNIUVpCdjYydU52M2cvTGdXVTg2Q2Y2cFlCUytmdFRobkZrenlXc3laQkRGVDdOQ1hqQmdzeXRGMGl3dVB5ckhGWG8vbjFjZDc3MGZUZ1VyaDFaUGxTTng4UzhQWXRRNHk5MjdXeC84QzNOTTd5KzFkdkNRQUFBQWxkRVZZZEdSaGRHVTZZM0psWVhSbEFESXdNVGN0TURVdE1UZFVNRFU2TXpjNk5UUXJNREE2TURDQnl6c2ZBQUFBSlhSRldIUmtZWFJsT20xdlpHbG1lUUF5TURFM0xUQTFMVEUzVkRBMU9qTTNPalUwS3pBd09qQXc4SmFEb3dBQUFBQkpSVTVFcmtKZ2dnPT0iIC8+PC9zdmc+');
	}
	&:checked {
	  &:before {
		background: no-repeat url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIg0KCXhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIg0KCXdpZHRoPSIxNHB4IiBoZWlnaHQ9IjE0cHgiIHZpZXdCb3g9IjAgMCAxNCAxNCI+DQo8Y2xpcFBhdGggaWQ9ImNsaXAwIj48Y2lyY2xlIGN4PSI3LjAwIiBjeT0iNy4wMCIgcj0iNi4wMCIvPjwvY2xpcFBhdGg+PGNsaXBQYXRoIGlkPSJjbGlwMSI+PHBhdGggZmlsbFJ1bGU9ImV2ZW5vZGQiIGQ9Ik0tMSAxNUMtMSAxNS0xLTEtMS0xLTEtMSAxNS0xIDE1LTEgMTUtMSAxNSAxNSAxNSAxNSAxNSAxNS0xIDE1LTEgMTVaTSA3IDFDIDMuNjkgMSAxIDMuNjkgMSA3IDEgMTAuMzEgMy42OSAxMyA3IDEzIDEwLjMxIDEzIDEzIDEwLjMxIDEzIDcgMTMgMy42OSAxMC4zMSAxIDcgMVoiLz48L2NsaXBQYXRoPjxkZWZzPg0KPHN5bWJvbCBpZD0ic3ltYm9sMCI+PGNpcmNsZSBjeD0iNy4wMCIgY3k9IjcuMDAiIHI9IjYuMDAiLz48L3N5bWJvbD48L2RlZnM+DQo8Zz48dXNlIHhsaW5rOmhyZWY9IiNzeW1ib2wwIiB4PSIwIiB5PSIwIiB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIGZpbGw9InJnYigwLDE1OCwyMTgpIi8+PHVzZSB4bGluazpocmVmPSIjc3ltYm9sMCIgeD0iMCIgeT0iMCIgd2lkdGg9IjE0IiBoZWlnaHQ9IjE0IiBmaWxsPSJub25lIiBzdHJva2U9InJnYigyNTUsMjU1LDI1NSkiIHN0cm9rZS13aWR0aD0iNC4wMHB4IiBjbGlwLXBhdGg9InVybCgjY2xpcDApIi8+PHVzZSB4bGluazpocmVmPSIjc3ltYm9sMCIgeD0iMCIgeT0iMCIgd2lkdGg9IjE0IiBoZWlnaHQ9IjE0IiBmaWxsPSJub25lIiBzdHJva2U9InJnYigwLDE1OSwyMTkpIiBzdHJva2Utd2lkdGg9IjEuMDBweCIgY2xpcC1wYXRoPSJ1cmwoI2NsaXAxKSIvPjwvZz48L3N2Zz4=');
	  }
	  &:disabled {
		&:before {
		  background: no-repeat url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAAQABAAD/2wBDAAEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQH/wAALCAAOAA4BAREA/8QAFwAAAwEAAAAAAAAAAAAAAAAAAAUGCv/EAB8QAAIDAQEAAgMAAAAAAAAAAAMEAQIFBgcTFBIVJP/aAAgBAQAAPwDZ36H6HTLpjNt42f1Gj1GdTpVFekqw7gYnPvMHpiJp4ozhUvo3UDJNDQJMN3ai0zb68rrLP+c9RTyOWV7OqTK2M1oMc1pc2Fo7KefvgADQTcwpakpEc5nNlmG88X8lGfrWDUZaskbPUOc5bIUSp2aui1jLstB5rR5tgAN/PSYPLdsJ1TQDOaznIXL8Wc3DEsVV/ENlqFGRlu14ri8TTxMyf1q4uPEsc2LjGOVx1t10wrM7u6zIl6V0a1XlRRRSTLrrGZtZkvyhAn//2Q==');
		}
	  }
	}
	&:disabled {
	  &:before {
		  background: no-repeat url('data:image/;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDQ3LjEgKDQ1NDIyKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5mb3JtL3JhZGlvX2Rpc2FibGVkPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGRlZnM+PC9kZWZzPgogICAgPGcgaWQ9Ikljb25zLWZvci1EZXYiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSJmb3JtL3JhZGlvX2Rpc2FibGVkIj4KICAgICAgICAgICAgPGcgaWQ9Ikdyb3VwIj4KICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik04LDE2IEMzLjU4MTcyMiwxNiAwLDEyLjQxODI3OCAwLDggQzAsMy41ODE3MjIgMy41ODE3MjIsMCA4LDAgQzEyLjQxODI3OCwwIDE2LDMuNTgxNzIyIDE2LDggQzE2LDEyLjQxODI3OCAxMi40MTgyNzgsMTYgOCwxNiBaIiBpZD0iUGF0aCIgZmlsbD0iI0QyRDJEMiI+PC9wYXRoPgogICAgICAgICAgICAgICAgPHBhdGggZD0iTTgsMTUuMDU4ODIzNSBDMTEuODk4NDgwNiwxNS4wNTg4MjM1IDE1LjA1ODgyMzUsMTEuODk4NDgwNiAxNS4wNTg4MjM1LDggQzE1LjA1ODgyMzUsNC4xMDE1MTk0MSAxMS44OTg0ODA2LDAuOTQxMTc2NDcxIDgsMC45NDExNzY0NzEgQzQuMTAxNTE5NDEsMC45NDExNzY0NzEgMC45NDExNzY0NzEsNC4xMDE1MTk0MSAwLjk0MTE3NjQ3MSw4IEMwLjk0MTE3NjQ3MSwxMS44OTg0ODA2IDQuMTAxNTE5NDEsMTUuMDU4ODIzNSA4LDE1LjA1ODgyMzUgWiIgaWQ9IlBhdGgiIGZpbGw9IiNGMkYyRjIiPjwvcGF0aD4KICAgICAgICAgICAgPC9nPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+');
	  }
		  + .sdc-radio__label {
		color: $gray;
	  }
	}
  }
  .sdc-radio__label {
	margin-left: 5px;
	@extend .body-1;
  }
}
