<div class = "svg-icon-wrapper" [ngClass]="{
                                             'bottom': labelPosition == positions.Bottom,
                                             'top' : labelPosition == positions.Top,
                                             'right': labelPosition == positions.Right,
                                             'left': labelPosition == positions.Left,
                                             '__warning': color == colors.Warning,
                                             '__primary': color == colors.Primary,
                                             '__positive': color == colors.Positive,
                                             '__negative': color == colors.Negative,
                                             '__secondary': color == colors.Secondary
                                           }" [attr.disabled] = "disabled || null" >
    <div  [innerHtml]="getFontIconCode(this.iconName) | safeHtml"></div>
    <span class ="svg-icon-label">{{ label }}</span>
</div>
