@import 'typography.scss';
@import '../scss/style.scss';
@import '~prismjs/themes/prism.css';

body {
	@include base-font-regular();
	margin: 15px;
	max-width: 800px;
}

a {
	color: #1474f3;
	text-decoration: none;
	border-bottom: 1px solid #1474f3;
	padding-bottom: 2px;
}

.colors-table {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 13px;
	.color-section {
		display: flex;
		flex-direction: column;
		margin: 10px 0;
		min-width: 150px;
		div {
			align-self: center;
		}
		$circle-size: 40px;
		.color-circle {
			height: $circle-size;
			width: $circle-size;
			padding: 10px;
			text-align: center;
		}
	}
}

.icons-screen {
  	.missing-icon-section {
	  border-top: 1px solid $light-gray;
	  padding-top: 10px;
	}
	.icons-option-selector {
		margin-top: 20px;
		margin-bottom: 20px;
		width: 100%;
		display: flex;
		justify-content: flex-start;
		.option-container {
			display: flex;
			flex-direction: column;
			margin-right: 20px;
			input {
				height: 1px;
			}
		}
	}

	.icons-table {
		margin-top: 50px;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		border-top: 1px solid $light-gray;
		justify-content: space-between;
		.icon-section {
			display: flex;
			flex-direction: column;
			margin: 10px 0;
			min-width: 150px;
			.svg-icon-wrapper {
				cursor: pointer;
				width: 20px;
				margin-left: auto;
				margin-right: auto;
				.svg-icon-label {
					font-size: 12px;
				}
			}
		}
	}

	.svg-icon {
		&.storybook-big {
			width: 120px;
			height: 120px;
		}
		&.storybook-small {
			width: 60px;
			height: 60px;
		}
	}
}

.typography-screen {
	.typography-section {
		margin: 30px 0;
	}
	ul {
		font-size: 18px;
	}
	.typo-table {
		.typo-section {
			div {
			display: inline-block;
			//border: 1px solid black;
			width: 30%;
			margin: 4px 0;
			}
		}
	}
}

.source-toggle-wrapper {
	.source-toggle-title {
	@extend .heading-2;
	}
	.source-toggle {
		display: flex;
		border-top: 1px solid $light-gray;
		padding: 10px 0;
		&:first-child {
			border-top: none;
		}
		.source-toggle-example {
			flex-basis: 40%;
			flex-shrink: 0;
		}
		.source-toggle-code {
			background-color: $background-gray;
			padding: 5px;
			pre {
				margin-top: 0;
				user-select: text;
				overflow-x: auto;
				overflow-y: hidden;
				max-width: 800px;
				code {
					font-size: 15px;
					font-weight: 600;
					padding: 2px 5px;
					border: 1px solid #eae9e9;
					border-radius: 4px;
					background-color: #f3f2f2;
					color: #3a3a3a;
					.token {
						line-height: 20px;
					}
				}
			}
			.source-toggle-code-tabs {
				display: flex;
				margin-bottom: 10px;
				.source-toggle-tab {
					@extend .body-1-semibold;
					margin-right: 20px;
					cursor: pointer;
					&.selected {
						border-bottom: 2px solid $dark-blue;
						color: $dark-blue;
						font-weight: bold;
					}
				}
			}
		}
	}
}

