@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');

.heading-1 {
  font-weight: 300;
}

.heading-2 {
  font-weight: 300;
}

.heading-3-light {
  font-weight: 300;
}

.heading-3 {
  font-weight: 400;
}

.heading-3-semibold {
  font-weight: 600;
}

.heading-4 {
  font-weight: 400;
}

.heading-4-semibold {
  font-weight: 600;
}

.heading-5 {
  font-weight: 400;
}

.heading-5-semibold {
  font-weight: 600;
}

.body-1 {
  font-weight: 400;
}

.body-1-semibold {
  font-weight: 600;
}

.body-1-light {
  font-weight: 300;
}

.body-2 {
  font-weight: 400;
}

.body-2-semibold {
  font-weight: 600;
}

.body-3 {
  font-weight: 400;
}

.body-3-semibold {
  font-weight: 600;
}

.body-3-light {
  font-weight: 300;
}

.body-4 {
  font-weight: 400;
}

.body-4-semibold {
  font-weight: 600;
}
