@font-face {
    font-family: font-icons-common;
    src: url("/fonts/icons/font-icons-common.eot");
    src: url("/fonts/icons/font-icons-common.eot?#iefix") format("embedded-opentype"), url("/fonts/icons/font-icons-common.woff2") format("woff2"), url("/fonts/icons/font-icons-common.woff") format("woff"), url("/fonts/icons/font-icons-common.ttf") format("truetype"), url("/fonts/icons/font-icons-common.svg#font-icons-common") format("svg");
    font-style: normal;
    font-weight: 400;
}

.si {
    display: inline-block;
    transform: translate(0, 0);
    text-rendering: auto;
    font: normal normal 400 14px/1 font-icons-common;
    font-size: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.si-lg {
    vertical-align: -15%;
    line-height: 0.75em;
    font-size: 1.33333333em;
}

.si-2x {
    font-size: 2em;
}

.si-3x {
    font-size: 3em;
}

.si-4x {
    font-size: 4em;
}

.si-5x {
    font-size: 5em;
}

.si-fw {
    width: 1.28571429em;
    text-align: center;
}

.si-browse::before {
    content: "\ea01";
}

.si-checkbox_checked::before {
    content: "\ea02";
}

.si-checkbox_disabled::before {
    content: "\ea03";
}

.si-checkbox_idle::before {
    content: "\ea04";
}

.si-failed::before {
    content: "\ea05";
}

.si-information::before {
    content: "\ea06";
}

.si-radio_checked::before {
    content: "\ea07";
}

.si-radio_disabled::before {
    content: "\ea08";
}

.si-radio_idle::before {
    content: "\ea09";
}

.si-warning::before {
    content: "\ea0a";
}

.si-x::before {
    content: "\ea0b";
}
