/***********************************************************************************
 DROP-DOWN ANIMATION PAIR.

 We use the 'dropdown_fold' for the folded/idle block element,
 and the 'dropdown_expend' to expend that element.

 -important: The element that will be used for the animation should be
 a block element, adn  have a content or width and height settings for it to work.
*********************************************************************************/

/**
Enable to fold an expended block element
@param $offsetY - The top position from which the drop down should fold
 */
@mixin dropdown_fold($offsetY) {
  opacity: 0;
  max-height: 0;
  transform: translateY($offsetY);
  transition: transform 1s, opacity .5s, max-height 1s;
  transition-delay: 0s, .2s, 0s;
}

/**
Enable to expend a folded block element
@param $maxHeight - most of the animation is done over the max-height property
                    so we have to set the maximum height the expended element can expend to.
 */
@mixin dropdown_expend($maxHeight){
  opacity: 1;
  max-height: $maxHeight;
  transform: translateY(0%);
  transition: transform 1s, opacity .3s, max-height 1s;
}


/********************************************************************************
  SIMPLE FADE-IN ANIMATION (Used in tooltip for example)
*********************************************************************************/
@keyframes animation-fade-in-from-bottom {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}




/********************************************************************************
  RIPPLE ANIMATION (Used for ripple-click directive)
*********************************************************************************/
@keyframes ripple-animation {
  from {
    transform: scale(0,0);
    opacity: 1;
  }
  to {
    transform: scale(2.5,2.5);
    opacity: 0;
  }
}

.sdc-ripple-click__animated {
  position:relative;
}
.sdc-ripple-click__animated::before{
  display: inline-block;
  position:absolute;
  content: '';
  animation: ripple-animation .3s ease-out; 
  background-color: #009fdb;
  width:14px;
  height:14px;
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
  opacity:0;
}