.svg-icon {

    &.purple {
        fill: $purple;
    }

    &.purple-hover {
        fill: $purple;
        &:hover {
            fill: $light-purple;
        }
    }

    &.blue {
        fill: $blue;
    }

    &.blue-hover {
        fill: $blue;
        &:hover {
            fill: $light-blue;
        }
    }

    &.black {
        fill: $black;
    }

    &.black-hover {
        fill: $black;
        &:hover {
            fill: $light-gray;
        }
    }

}