html {
  font-size: 100%;
  height: 100%;
}

body {
  /* scrollbar styling for Internet Explorer */
  scrollbar-face-color: $scroll-bar-color;
  scrollbar-track-color: $scroll-bar-color;
  height: 100%;
  @extend %noselect;
}

/* scrollbar styling for Google Chrome | Safari | Opera */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $light-gray;
  border-right: 2px solid $content-background-color;
}

/* Mozilla Firefox currently doesn't support scrollbar styling */

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

input, select {
  padding: 4px 10px;
  width: 100%;
}

input[type="checkbox"] {
  width: auto;
}

input, select, button {
  @include base-font-regular;
  font-size: $body-font-1;
  box-sizing: border-box;
}

fieldset {
  border: none;
}

fieldset {
  label {
    display: inline-block;
  }
}

.nav-tabs > li > a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
}

.error-message{
  color: $red;
  @include base-font-regular;
  font-size: $icon-font-size;
  margin-top: 3px;
  &:before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 10px;
    margin-right: 6px;
    //not correct icon
    background: no-repeat url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17"><title>error</title><g fill="'+ $red +'" id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M8.5,1A7.5,7.5,0,1,1,1,8.5,7.51,7.51,0,0,1,8.5,1m0-1A8.5,8.5,0,1,0,17,8.5,8.5,8.5,0,0,0,8.5,0Z"/><polygon points="11.6 6.1 10.9 5.4 8.5 7.79 6.1 5.4 5.4 6.1 7.79 8.5 5.4 10.9 6.1 11.6 8.5 9.21 10.9 11.6 11.6 10.9 9.21 8.5 11.6 6.1"/></g></g></svg>');
  }
}
