// primary colors
$blue: #009fdb; // this color is also hover for icons
$dark-blue: #0568ae;
$light-blue: #71c5e8;
$hover-blue:#1eb9f3; // hover blue only buttons
$green: #4ca90c;
$dark-green: #007a3e;
$light-green: #b5bd00;
$orange: #ea7400;
$yellow: #ffb81c;
$dark-purple: #702f8a;
$purple: #9063cd;
$light-purple: #caa2dd;
$black: #000000;
$rich-black: #323943;
$dark-gray: #5a5a5a;
$gray: #959595;
$light-gray: #d2d2d2; // icon disabled
$white: #ffffff;
$blue-disabled: #9dd9ef;

// Secondary Colors
$red: #cf2a2a;
$disabled-background-gray: #f8f8f8;
$background-gray: #f2f2f2;
$text-black: #191919;
$link-blue: #056bae;
$functional-green: #007a3e;
$tlv-gray: #f8f8f8;
$tlv-light-gray: #eaeaea;
$tlv-hover: #e6f6fb;
$content-background-color: $white;
$scroll-bar-color: $text-black;
$vc-status-text-color: #42b72a;

// Button Sizes
$btn-extra-small: 90px;
$btn-small: 110px;
$btn-medium: 140px;
$btn-large: 180px;
$btn-default: auto;
