// primary colors
$blue: #009fdb;
$dark-blue: #0568ae;
$light-blue: #71c5e8;
$hover-blue:#1eb9f3;
$green: #4ca90c;
$dark-green: #007a3e;
$light-green: #b5bd00;
$orange: #ea7400;
$yellow: #ffb81c;
$dark-purple: #702f8a;
$purple: #9063cd;
$light-purple: #caa2dd;
$black: #000000;
$dark-gray: #5a5a5a;
$gray: #959595;
$light-gray: #d2d2d2;
$white: #ffffff;
$blue-disabled: #9dd9ef;

// Secondary Colors
$red: #cf2a2a;
$background-gray: #f2f2f2;
$text-black: #191919;
$link-blue: #056bae;
$functional-green: #007a3e;
$tlv-gray: #f8f8f8;
$tlv-light-gray: #eaeaea;
$tlv-hover: #e6f6fb;
$content-background-color: $white;
$scroll-bar-color: $text-black;//$light-gray;
$vc-status-text-color: #42b72a;

// Button colors
$pacific-blue: darken($blue,4%);
$dodger-blue: lighten($blue,12%);
$orient: darken($blue, 17%);
$limeade:  darken($green, 2%);
$lima: lighten($green,6%);
$japanese-laurel:  darken($green, 14%);
$tamarillo: darken($red, 11%);
$torch-red: lighten(saturate($red, 25%), 5%);
$red-oxide: darken($red, 22%);
$buttercup: darken($yellow, 7%);
$gold: adjust_hue($yellow, 7%);
$pirate-gold: darken($yellow, 17%);

// Button Sizes
$btn-small: 110px;
$btn-medium: 140px;
$btn-large: 180px;
$btn-default: auto;
