<div class="sdc-input">
    <label class="sdc-input__label" *ngIf="label" [ngClass]="{'required':required}">{{label}}</label>
    <input
        class="sdc-input__input"
        [ngClass]="{'error': check &&!check.result && check.error.length, 'disabled':disabled, 'hint':hint }"
        type="text"
        [name]="name"
        [(ngModel)]="value"
        (change)="onValueChange()"
        [maxlength]="maxLength"
        [placeholder]= "placeHolder ? placeHolder : ''"
        [minlength]="minLength"
        [attr.disabled]="disabled"
    />
    <label class="sdc-input__label sdc-label__error" *ngIf="check &&!check.result && check.error.length" >&#9888; {{check.error}}</label>
</div>
