.sdc-notification {

	position:relative;

	@keyframes slideintop {
		from   {margin-top: -50px;}
		to     {margin-top: 10px;}
	}

	@keyframes fade {
		from   {opacity: 1;}
		to     {opacity: 0;}
	}

	.ngn {
		//color: #FFF;
		cursor: default;
		font-size: 1.3em;
		left: 0;
		opacity: 1;
		padding: 25px 80px;
		right: 0;
		display: block;
		text-align: center;
		user-select: none;
		//z-index: 9999;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		margin-top: 10px;

		animation-name: slideintop;
		animation-duration: 1s;
	}

	.ngn-fade {
		animation-name: fade;
		animation-duration: 0.8s;
	}

	.ngn-component {
		position: absolute; }

	.ngn-top {
		top: 0; }

	.ngn-top-right {
		display: inline-block;
		padding: 10px;
		vertical-align: top;

		//float: right;
		//position: absolute;
		//top: 0;
		//right: 0;
		width: 380px;
		//left: auto;
	}

	.ngn-bottom {
		bottom: 0; }

	.ngn-blabla {
		bottom: 0; }


	.ngn-fixed {
		position: fixed; }
	.ngn-absolute {
		position: absolute; }

	.ngn-success {
		background-color: #5eb95e; }

	.ngn-sticky .ngn-dismiss {
		display: block; }

	.ngn-dismiss:hover {
		background-color: #000; }

	.ngn-dismiss:active {
		background-color: #666; }

	.ngn-dismiss {
		background-color: #333;
		border-radius: 15px;
		box-shadow: inset 2px 2px 7px 2px #000;
		color: #DDD;
		cursor: pointer;
		//display: none;
		font-size: 1.25em;
		font-weight: bold;
		height: 30px;
		line-height: 30px;
		opacity: 1;
		position: absolute;
		right: 40px;
		//text-shadow: 1px 1px 5px #000;
		top: 25px;
		width: 30px;
		//background: no-repeat url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUxMiA1MTIiIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB3aWR0aD0iNTEycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnIGlkPSJtZWFuaWNvbnNfeDVGXzI0Ij48cGF0aCBkPSJNMjU2LjMxNywwQzExNC45NTgsMCwwLjM0NCwxMTQuNjgsMC4zNDQsMjU1Ljk3M0MwLjM0NCwzOTcuMzk3LDExNC45NTcsNTEyLDI1Ni4zMTcsNTEyICAgYzE0MS40MzQsMCwyNTYuMDI3LTExNC42MDQsMjU2LjAyNy0yNTYuMDI3QzUxMi4zNDYsMTE0LjY4LDM5Ny43NTEsMCwyNTYuMzE3LDB6IE00MTUuOTk3LDM0MS42NDZsLTc0LjA4Niw3My45OThsLTg1LjU1Ny04NS42MSAgIGwtODUuNiw4NS42MWwtNzQuMDUzLTczLjk5OGw4NS42MjMtODUuNjc0bC04NS42MjMtODUuNTU0bDc0LjA1My03My45ODNsODUuNiw4NS41NTRsODUuNTU3LTg1LjU1NGw3NC4wODYsNzMuOTgzbC04NS41ODgsODUuNTU0ICAgTDQxNS45OTcsMzQxLjY0NnoiLz48L2c+PGcgaWQ9IkxheWVyXzFfMV8iLz48L3N2Zz4=');
		//background: url(icon/delete16.png);
		//z-index: 1000;
	}

	.ttl{
		font-size: 16px;
	}

	.msg{
		font-size: 14px;
	}

	.ngn-close {
		position: absolute;
		height: 24px;
		width: 24px;
		top: 12px;
		right: 2px;
		left: auto;
        background: url('data:image/svg+xml, %3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%0A%20%3Cg%3E%0A%20%20%3Ctitle%3Ebackground%3C/title%3E%0A%20%20%3Crect%20fill%3D%22none%22%20id%3D%22canvas_background%22%20height%3D%22402%22%20width%3D%22582%22%20y%3D%22-1%22%20x%3D%22-1%22/%3E%0A%20%3C/g%3E%0A%20%3Cg%3E%0A%20%20%3Ctitle%3ELayer%201%3C/title%3E%0A%20%20%3Cpath%20fill%3D%22%23ffffff%22%20id%3D%22svg_2%22%20d%3D%22m12%2C2c-5.5%2C0%20-10%2C4.5%20-10%2C10c0%2C5.5%204.5%2C10%2010%2C10s10%2C-4.5%2010%2C-10c0%2C-5.5%20-4.5%2C-10%20-10%2C-10zm4.9%2C13.5l-1.4%2C1.4l-3.5%2C-3.5l-3.5%2C3.5l-1.4%2C-1.4l3.5%2C-3.5l-3.5%2C-3.5l1.4%2C-1.4l3.5%2C3.5l3.5%2C-3.5l1.4%2C1.4l-3.5%2C3.5l3.5%2C3.5z%22/%3E%0A%20%3C/g%3E%0A%3C/svg%3E')
    }


	/* Themes - Default - Pure */
	.ngn-info {
		background-color: #0e90d2; }

	.ngn-error {
		background-color: #dd514c; }

	.ngn-success {
		background-color: #5eb95e; }

	.ngn-warn {
		background-color: #f37b1d; }

	.ngn-grimace {
		background-color: #8058a5; }

	/* Themes - Prime */
	.ngn-prime.ngn-info {
		background-color: #0033cc; }

	.ngn-prime.ngn-error {
		background-color: #ff0000; }

	.ngn-prime.ngn-success {
		background-color: #00cc00; }

	.ngn-prime.ngn-warn {
		background-color: #ff9900; }

	.ngn-prime.ngn-grimace {
		background-color: #660099; }

	/* Themes - Pastel */
	.ngn-pastel.ngn-info {
		background-color: #7EA7D8; }

	.ngn-pastel.ngn-error {
		background-color: #F6989D; }

	.ngn-pastel.ngn-success {
		background-color: #82CA9D; }

	.ngn-pastel.ngn-warn {
		background-color: #FDC68A; }

	.ngn-pastel.ngn-grimace {
		background-color: #A187BE; }

	/* Themes - Pitchy */
	.ngn-pitchy.ngn-info {
		background-color: #003471; }

	.ngn-pitchy.ngn-error {
		background-color: #9E0B0F; }

	.ngn-pitchy.ngn-success {
		background-color: #007236; }

	.ngn-pitchy.ngn-warn {
		background-color: #A36209; }

	.ngn-pitchy.ngn-grimace {
		background-color: #440E62; }
}
