<div [hidden]="destroy" class="sdc-notification" (click)="dismiss()">
    <div class="ngn {{'ngn-' + notificationSetting.type}}" [ngClass]="{'ngn-top-right': notificationSetting.position=='top-right','ngn-top': notificationSetting.position=='top','ngn-bottom':notificationSetting.position=='bottom','ngn-fixed':notificationSetting.location=='body','ngn-sticky':notificationSetting.sticky==true, 'ngn-fade':fade==true, 'ngn-transHeight':transheight==true}">
        <div *ngIf="!notificationSetting.hasNgContent">
            <div class="ngn-info-icon" >
            </div>
            <div class="ngn-msg-part">
                <div class="ttl">
                    {{notificationSetting.notifyTitle}}
                </div>
                <div class="msg" >
                    {{notificationSetting.notifyText}}
                </div>
            </div>
        </div>
        <div #dynamicContentContainer></div>
    </div>
</div>
