<template #headerRows><ng-content select="[table-header-row]"></ng-content></template>
<template #tableRows><ng-content select="[table-row]"></ng-content></template>



<ng-container *ngIf="!fixedHeader">
    <div class="sdc-table_tr__container" [style.height.px]="maxHeight">
        <ng-container #headerRowsContainer></ng-container>
        <ng-container #tableRowsContainer></ng-container>
    </div>
</ng-container>
<div *ngIf="fixedHeader">
    <ng-container #headerRowsContainer></ng-container>
    <div class="sdc-table_tr__container" [style.height.px]="maxHeight">
        <ng-container #tableRowsContainer></ng-container>
    </div>
</div>

