sdc-dropdown {
  display: block;
}
.sdc-dropdown {
  font-size: 14px;
  position: relative;

  .sdc-dropdown__error{
    display: none;
  }
  /*************************************
  SDC Error styles
   *************************************/
  &.error {

    .sdc-dropdown__header {
      border: solid 1px $red;
      color: $red;
      &::after {
        color: $red;
      }
      &:focus {
        border: solid 1px $red;
        .sdc-dropdown-handle{
          use {
            fill: $red;
          }
        }
      }
      .sdc-dropdown-handle{
        use {
          fill: $red;
        }
      }

    }

    .sdc-dropdown__error{
      display: block;
      color: $red;
      margin: 4px 0;
      font-size: 11px;
    }

    .sdc-dropdown__options-wrapper {
      border: 1px solid $red;
      border-top: none;

      &.sdc-dropdown__options-wrapper--top {
        bottom:58px;
        border-top:1px solid $red;
      }
    }

    .svg-icon.__exclamationTriangleFull {
      width: 12px;
      height: 10px;
      margin-right: 6px;
    }
  }

  .sdc-dropdown__header {
    padding: 12px 10px;
    background: $white;
    text-align: left;
    position: relative;
    color: $dark-gray;
    @include base-font-regular;
    text-indent: 6px;
    border: solid 1px $light-gray;
    width: 100%;
    z-index: 9999999;

    &.placeholder {
      font-style: italic;
      color: $gray;
    }

    &.disabled {
      border: solid 1px $light-gray;
      background-color: $background-gray;
      color: $gray;
      cursor: default;
      &:focus {
        border: solid 1px $light-gray;
        outline: none;
        .sdc-dropdown-handle{
          use {
            fill: $light-gray;
          }
        }
      }
      .sdc-dropdown-handle{
        use {
          fill: $light-gray;
        }
      }
    }

    &:focus {
      border: solid 1px $light-blue;
      outline: none;
      .sdc-dropdown-handle{
        use {
          fill: $light-blue;
        }
      }
    }

    .sdc-dropdown-handle {
      float: right;

      use {
        fill: $dark-gray;
      }
    }
  }

  .sdc-dropdown__options-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 244px;
    overflow-y: auto;
    box-sizing: border-box;
    border:1px solid $light-blue;
    border-top:none;
    background-color: white;
    padding-top: 10px;
    z-index: 9;
    box-shadow: 0 0 12px 0px rgba(0,0,0,.3);

    &.sdc-dropdown__options-wrapper--top {
      bottom:40px;
      border-top:1px solid $light-blue;
    }

    &.sdc-dropdown__options-wrapper--headless {
      border-top:1px solid $light-blue;
    }

    .sdc-dropdown__option {
      @include base-font-regular;
      text-indent: 10px;
      padding: 7px 10px;
      background: transparent;
      cursor: pointer;
      &.sdc-dropdown__option--hr {
        height: 1px;
        overflow: hidden;
        border-top: 1px solid $gray;
        padding: 0;
        margin: 10px 20px;
      }
      &.sdc-dropdown__option--group {
        text-indent: 30px;
      }
      &:hover {
        background-color: $tlv-gray;
        @include base-font-bold;
      }
      &.selected {
        background-color: $tlv-hover;
        color: $blue;
        @include base-font-bold;
      }
      &.sdc-dropdown__option--header {
        @include base-font-bold;
        color: $text-black;
        cursor: default;
        font-weight: 900;
        &.sdc-dropdown__option--group {
          text-indent: 10px;
        }
        &:hover {
          background-color: transparent;
        }
      }
      &.sdc-dropdown__option--disabled {
        color: $gray;
        cursor: default;
        &:hover {
          background-color: transparent;
        }
        &::after {
          color: $gray;
        }
        &:focus {
          border: solid 1px $light-gray;
          outline: none;
        }
      }
    }
  }



  .sdc-dropdown__select {

    @include base-font-regular;
    text-indent: 6px;
    border: solid 1px $light-gray;
    width: 100%;

    &.disabled {
      opacity: 0.7;
    }

    option {
      padding: 3px;
    }
  }

  .sdc-dropdown__label {
    margin-bottom: 5px;
    display: block;
    @extend .body-3;

    &.required::before {
      content: '*';
      color: $red;
      margin: 0 4px 0 0;
    }
  }

}
.sdc-dropdown__error--icon {
  fill:$red;
}

/********************************************************/
/* Animation */
/********************************************************/

/**
Expend animation from top to bottom
 */
.sdc-dropdown .sdc-dropdown__options-wrapper.sdc-dropdown__options-wrapper--open {
  box-shadow: 0 0 12px 0px rgba(0,0,0,.3);
  @include dropdown_expend(244px);
}

/**
Fold animation from bottom to top
 */
.sdc-dropdown .sdc-dropdown__options-wrapper.sdc-dropdown__options-wrapper--top{
  @include dropdown_fold(0px);
  bottom: 40px;
  top:auto;
  /**
  Expend animation from bottom to top
   */
  &.sdc-dropdown__options-wrapper--open{
    @include dropdown_expend(244px);
  }
}
/**
Fold animation from top to bottom
 */
.sdc-dropdown .sdc-dropdown__options-wrapper {
  box-shadow: 0 0 0px 0px rgba(0,0,0,.3);
  @include dropdown_fold(-40px);
}


