sdc-dropdown {
  display: block;
}
.sdc-dropdown {
  @include body-1;
  position: relative;

  .sdc-dropdown__error--block{
    display: none;
  }
  /*************************************
  SDC Error styles
   *************************************/
  &.sdc-dropdown__error {

    .sdc-dropdown__header {
      border: solid 1px $functional-red;
      @include font-error;
      &::after {
        @include font-error;
      }
      &:focus {
        border: solid 1px $functional-red;
        .sdc-dropdown-handle{
          use {
            fill: $functional-red;
          }
        }
      }
      .sdc-dropdown-handle{
        use {
          fill: $functional-red;
        }
      }

    }

    .sdc-dropdown__error--block{
      display: block;
      @include font-error;
      margin: 4px 0;
      @include body-3;
    }
  .sdc-dropdown__options-wrapper--frame {
    .sdc-dropdown__options-list {
      border: 1px solid $functional-red;
      border-top: none;
    }
    &.sdc-dropdown__options-wrapper--top {
      .sdc-dropdown__options-list {
        border-top:1px solid $functional-red;
      }

    }
  }


    .svg-icon.__exclamationTriangleFull {
      width: 12px;
      height: 10px;
      margin-right: 6px;
    }
  }
  .sdc-dropdown__component-container {
    position: relative;
    height: 40px;
  }
  .sdc-dropdown__header {
    padding: 12px 10px;
    background: $white;
    text-align: left;
    position: relative;
    color: $dark-gray;
    @include base-font-regular;
    text-indent: 6px;
    border: solid 1px $light-gray;
    width: 100%;

    &.placeholder {
      @include base-font-italic;
      color: $gray;
    }

    &.disabled {
      border: solid 1px $light-gray;
      background-color: $background-gray;
      color: $gray;
      cursor: default;
      &:focus {
        border: solid 1px $light-gray;
        outline: none;
        .sdc-dropdown-handle{
          path {
            fill: $light-gray;
          }
        }
      }
      .sdc-dropdown-handle{
        path {
          fill: $light-gray;
        }
      }
    }

    &:focus {
      border: solid 1px $light-blue;
      outline: none;
      .sdc-dropdown-handle{
        path {
          fill: $light-blue;
        }
      }
    }

    .sdc-dropdown-handle {
      float: right;

      path {
        fill: $dark-gray;
      }
    }
  }

  .sdc-dropdown__options-list {
    position: relative;
    opacity: 0;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow-y: auto;
    box-sizing: border-box;
    border:1px solid $light-blue;
    border-top:none;
    background-color: white;
    padding-top: 10px;
    box-shadow: 0 0 12px 0px rgba(0,0,0,.3);

    &.sdc-dropdown__options-wrapper--top {
      bottom:40px;
      border-top:1px solid $light-blue;
    }

    &.sdc-dropdown__options-list--headless {
      border-top:1px solid $light-blue;
    }

    .sdc-dropdown__option {
      @include base-font-regular;
      text-indent: 10px;
      padding: 7px 10px;
      background: transparent;
      cursor: pointer;
      &.sdc-dropdown__option--hr {
        height: 1px;
        overflow: hidden;
        border-top: 1px solid $gray;
        padding: 0;
        margin: 10px 20px;
      }
      &.sdc-dropdown__option--group {
        text-indent: 30px;
      }
      &:hover {
        background-color: $background-gray;
        @include base-font-semibold;
      }
      &.selected {
        background-color: $tlv-select;
        color: $blue;
        @include base-font-semibold;
      }
      &.sdc-dropdown__option--header {
        @include base-font-semibold;
        color: $text-black;
        cursor: default;
        &.sdc-dropdown__option--group {
          text-indent: 10px;
        }
        &:hover {
          background-color: transparent;
        }
      }
      &.sdc-dropdown__option--disabled {
        color: $gray;
        cursor: default;
        &:hover {
          background-color: transparent;
        }
        &::after {
          color: $gray;
        }
        &:focus {
          border: solid 1px $light-gray;
          outline: none;
        }
      }
    }
  }



  .sdc-dropdown__select {

    @include base-font-regular;
    text-indent: 6px;
    border: solid 1px $light-gray;
    width: 100%;

    &.disabled {
      opacity: 0.7;
    }

    option {
      padding: 3px;
    }
  }

  .sdc-dropdown__label {
    margin-bottom: 5px;
    display: block;
    @include body-3;

    &.required::before {
      content: '*';
      color: $functional-red;
      margin: 0 4px 0 0;
    }
  }

}
.sdc-dropdown__error--icon {
  fill:$functional-red;
}

/********************************************************/
/* Animation */
/********************************************************/

@include keyframes-expand-animation('top-to-bottom-exp', 244px);

@include keyframes-collapse-animation('top-to-bottom', 244px);

@include keyframes-expand-animation('bottom-to-top-exp', 244px);

@include keyframes-collapse-animation('bottom-to-top', 244px);


.sdc-dropdown__options-wrapper--frame {
  overflow: hidden;
  position: absolute;
  padding: 0 10px 0px 10px;
  left: -10px;
  top: auto;
  width: 100%;

  &.sdc-dropdown__options-wrapper--top {
    bottom:40px;
    top:auto;
    padding: 10px 10px 0px 10px;

    /* Expend animation from bottom to top */
    .sdc-dropdown__options-list {
      border-top:1px solid $light-blue;
      &.sdc-dropdown__options-list--animation-init {
        border-bottom: none;
        padding:0;
        animation: bottom-to-top .5s forwards;
      }
    }

    &.sdc-dropdown__options-wrapper--uncollapsed {
      .sdc-dropdown__options-list {
        animation: bottom-to-top-exp .5s forwards;
      }
    }
  }
}

/**
Fold animation from top to bottom
 */
.sdc-dropdown {
  .sdc-dropdown__options-list.sdc-dropdown__options-list--animation-init {
    animation: top-to-bottom .5s forwards;
  }
}

/**
Expend animation from top to bottom
 */
.sdc-dropdown {
  .sdc-dropdown__options-wrapper--uncollapsed {
    .sdc-dropdown__options-list.sdc-dropdown__options-list--animation-init {
      animation: top-to-bottom-exp .5s forwards;
    }
  }
}






