<div class="sdc-dropdown">
    <label class="sdc-dropdown__label">DropDown example</label>
    <button class="sdc-dropdown__header">Please choose option</button>
    <ul class="sdc-dropdown__options-list">
        <li class="sdc-dropdown__option sdc-dropdown__option--group sdc-dropdown__option--header">Group 1 title</li>
        <li class="sdc-dropdown__option sdc-dropdown__option--group selected">First Option</li>
        <li class="sdc-dropdown__option sdc-dropdown__option--group">Second Option</li>
        <li class="sdc-dropdown__option sdc-dropdown__option--group">Third Option</li>
    </ul>
</div>
