.sdc-popup-menu {
    width: 200px;
    height: 200px;
    border: 1px solid grey;
}
.sdc-menu-list {
    position: fixed;
    z-index: 100;

    border-style: solid;
    border-width: 1px;
    border-color: $light-gray;
    border-top: solid 3px $blue;
    box-sizing: border-box;
    background-color: $white;
    width: 150px;
    border-radius: 2px;
    @include box-shadow(0px 2px 4px 0px rgba($black, 0.3));

    .sdc-menu-item:not(.separator) {
        @include body-1;
        line-height: 29px;
        color: $dark-gray;
        g, path{
            fill: $dark-gray;
        }
        padding: 0 12px;

        &:hover {
            cursor: pointer;
            background-color: $tlv-hover;
            color: $hover-blue;
            g, path{
                fill: $hover-blue;
            }
        }

        &.disabled {
            cursor: default;
            color: $gray;
            g, path{
                fill: $light-gray;
            }

            &:hover {
                cursor: default;
                background-color: inherit;
            }
        }

        &.selected {
            background-color: $background-gray;
            color: $text-black;
            g, path{
                fill: $text-black;
            }
        }
    }

    &.relative {
        position: relative;
    }

    &.static {
        position: static;
    }

    .separator {
        cursor: default;
        border-top: 1px solid $gray;
        margin: 0 12px;
        height: 0;
    }
}
