.sdc-menu-list {
    position: fixed;

    @include box-sizing;
    @include box-shadow(0 2px 4px 0 rgba($black, 0.3));
    border: 1px solid $light-gray;
    border-top: solid 3px $blue;
    border-radius: 2px;
    background: $white;
    width: 150px;

    .sdc-menu-item:not(.separator) {
        @include body-1;
        height: 29px;
        color: $dark-gray;
        padding: 0 12px;
        display: flex;
        align-items: center;

        svg {
            margin-right: 5px;
            g, path {
                fill: $dark-gray;
            }
        }

        &:hover {
            &:not(.disabled) {
                cursor: pointer;
                &:not(.selected) {
                    background: $background-gray;
                    color: $text-black;
                    g, path {
                        fill: $text-black;
                    }
                }
            }
        }

        &.disabled {
            color: $gray;
            g, path {
                fill: $light-gray;
            }
        }

        &.selected {
            background: $tlv-hover;
            color: $hover-blue;
            g, path {
                fill: $hover-blue;
            }
        }
    }

    &.relative {
        position: relative;
    }

    &.static {
        position: static;
    }

    .separator {
        cursor: default;
        border-top: 1px solid $gray;
        margin: 0 12px;
        height: 0;
    }
}
